<div ng-controller="rccStoresController">
    <!-- 标题 -->
    <div class="bg-light lter b-b wrapper-md">
        <h4 class="m-n font-thin h4" style="color:#000"> 销售门店信息
        </h4>
    </div>

    <div class="wrapper-md" >
        <!-- 表格 -->
        <div class="table-responsive" style="padding-left:10px;padding-right:10px; " >
            <div style="padding:15px;">
                <lable>共有<input type="text"  style="width:30px; text-align:center; background:no-repeat 0 0 scroll ; border:none;outline:medium;color: #f05050" ng-model="gydst" readonly="readonly"> 条数据</lable>
                <lable ng-if="gydst < 1"><span style="margin-left: 20px;">( 没有符合条件的数据 )</span></lable>
            </div>
            <div ng-table="tableParams">
                <table  class="table table-bordered table-condensed table-striped table-hover"  >
                    <tr ng-repeat="rccStores in $data">
                        <td title="'门店编号'" style="text-align:center;">
                            <span ng-bind="rccStores.strNum"></span>
                        </td>
                        <td title="'门店名称'"  style="text-align:center;min-width:120px;">
                            <span ng-bind="rccStores.strNm"></span>
                        </td>
                        <td title="'所属城市分区'"  style="text-align:center;min-width:120px;">
                            <span ng-bind="rccStores.chnlNm"></span>     
                            <span>></span>
                            <span ng-bind="rccStores.majRgnNm"></span>       
                            <span>></span>
                            <span ng-bind="rccStores.provinceNm"></span>       
                            <span>></span>
                            <span ng-bind="rccStores.cityNm"></span>       
                            <span>></span>
                            <span ng-bind="rccStores.partiNm"></span>
                        </td>
                        <td title="'操作'" style="text-align:center;min-width:120px;" >
                            <a style=" text-decoration:underline;color: #05b5ff;"  ng-click="restoreStores(rccStores.strNum)"  user-power="WRCC01005002">还原</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>