
<div class="modal-header" style="overflow: hidden;">
	<h3 class="modal-title" style="float: left;">选择会员</h3>
	<span class="glyphicon glyphicon-remove" ng-click="cancel()" style="cursor:pointer;float: right;display: inline-block;height: 34px;line-height: 34px;"></span>
</div>
<!--<script type="text/ng-template" id="headerCheckbox.html">-->
	<!--<input type="checkbox" ng-model="checkboxes.checked" ng-click="checkAll()" class="select-all" value=""/>-->
	<!--全选-->
<!--</script>-->
<div class="panel-heading">
	<accordion close-others="oneAtATime">
		<accordion-group is-open="status.memopen">
			<accordion-heading>
				查询<i class="pull-right fa fa-angle-right"
					 ng-class="{'fa-angle-down': status.memopen, 'fa-angle-right': !status.memopen}"></i>
			</accordion-heading>
			<!-- 第一行 -->
		<form name="form" class="form-horizontal">
			<div class="form-group">

				<label class="col-sm-2 control-label">会员编号：</label>
				<div class="col-sm-2">
					<input type="text" class="form-control"  ng-model="membas.membNum">
				</div>

				<label class="col-sm-2 control-label">姓名：</label>
				<div class="col-sm-2">
					<input type="text" class="form-control"  ng-model="membas.membNm">
				</div>

				<label class="col-sm-2 control-label">联系电话：</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" ng-model="membas.phone">
				</div>


			</div>
			<!-- 第二行 -->
			<div class="form-group">
				<label class="col-sm-2 control-label">创建人员：</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" placeholder="姓名" ng-model="membas.crtdStfNm">
				</div>

			</div>
			<!-- 第三行 -->
			<div class="form-group">

				<label class="col-sm-2 control-label">加入时间：</label>
				<div class="col-sm-3">
					<div class="input-group w-md" ng-controller="DatepickerDemoCtrl">
						<input type="text" class="form-control"
							   datepicker-popup="yyyy-MM-dd" ng-model="membas.startTime"
							   ng-init="rzrqks = '2015-01-01'" is-open="opened"
							   datepicker-options="dateOptions" readonly="readonly"/>
                                    <span class="input-group-btn">
							            <button type="button" class="btn btn-default" ng-click="open($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
						            </span>
					</div>
				</div>
				<label class="col-sm-1 control-label" style="margin-left: 40px;text-align: center;">至</label>
				<div class="col-sm-3">
					<div class="input-group w-md" ng-controller="DatepickerDemoCtrl">
						<input type="text" class="form-control"
							   datepicker-popup="yyyy-MM-dd" ng-model="membas.endTime"
							   ng-init="rzrqks = '2015-01-01'" is-open="opened"
							   datepicker-options="dateOptions" readonly="readonly"/>
                                    <span class="input-group-btn">
							            <button type="button" class="btn btn-default" ng-click="open($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
						            </span>
					</div>
				</div>

			</div>
			<!-- 第四行 -->
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<button class=" btn btn-info btn-addon" style="margin-left: 15px;width: 118px;" ng-click="searchMemList()">搜索</button>
			</div>
		</form>
	</accordion-group>
</accordion>
</div>
<div style="padding:15px;">
	<lable>共有<input type="text"  style="width:30px; text-align:center; background:no-repeat 0 0 scroll ＃EEEEEE; border:none;outline:medium;color: #f05050"ng-model="membCount" readonly="readonly"> 条记录</lable>
	<lable ng-if="membCount<1"><span style="margin-left: 20px;">( 没有符合条件的数据 )</span></lable>
</div>
<div class="table-responsive" style="padding-left: 10px; padding-right: 10px;">
	<div ng-table="tableParams">
		<table cellspacing="0"
			   class="table table-bordered table-condensed   table-striped"
			   style="width: 100%; margin-bottom: 20px;">
			<tr ng-repeat="memb in $data">

				<td style="font-weight: bold; min-width: 90px;  ">
					<input type="radio" ng-model="selectedRD" name="selectedRD" ng-true-value="1" ng-false-value="2" ng-click="selectClick(memb.membNum)"/>
				</td>

				<td title="'会员编号'" style="text-align: center"
					ng-bind="memb.membNum"></td>
				<td title="'姓名'" style="text-align: center"
					ng-bind="memb.membNm"></td>
				<td title="'联系电话'" style="text-align: center"
					ng-bind="memb.phone"></td>
				<td title="'来源渠道'" style="text-align: center;"
					ng-bind="memb.provChnl | chnlInfoFilter"></td>
				<td title="'会员组别'" style="text-align: center;"
					ng-bind="memb.grpId | membGrpFilter"></td>
				<td title="'创建人员'" style="text-align: center;"
					ng-bind="memb.crtdStfNm"></td>
				<td title="'加入时间'" style="text-align: center;"
					ng-bind="memb.registTm | date:'yyyy-MM-dd HH:mm:ss'"></td>

			</tr>
		</table>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-info " ng-click="ok()" style="float:left;margin-left: 28px; margin-right:15px;width: 85px;" user-power="WMEM01001001">确定</button>
	<button class="btn btn-default " ng-click="cancel()" style="float:left;width: 85px;">取消</button>
</div>
