<div class="bg-light lter b-b wrapper-md">
    <h4 class="m-n font-thin h4" style="color:#000"> 编辑 </h4>
</div>

<div class="wrapper-md" ng-controller="gdsBrdUpdateCtrl">


    <form name="formAttr" class="form-horizontal" >
        <!-- 第一行 -->
        <div class="form-group">
            <label class="col-sm-2 control-label"><span style="color:red;">*</span>品牌名称：</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="gdsBrdUpd.brdNm" name="brdNm" required maxlength="20">

                <div ng-messages="formAttr.brdNm.$error" ng-if="(formAttr.brdNm.$dirty && formAttr.brdNm.$invalid)">
                    <span ng-message="required" class="error"> 品牌名称必须输入！ </span>
                </div>
            </div>

        </div>
        <!-- 第二行 -->
        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">品牌网址：</label>-->

            <!--<div class="col-sm-3">-->
                <!--<input type="text" name="gdsBrdUrl" class="form-control" ng-model="gdsBrdUpd.brdWebsite"  maxlength="1000"-->
                       <!--ng-pattern="/^((https|http|ftp|rtsp|mms):\/\/)?(([a-zA-Z0-9\._-]+\.[a-zA-Z]{2,6})|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,4})*(\/[a-zA-Z0-9\&%_\./-~-]*)?$/">-->
                <!--<div ng-messages="formAttr.gdsBrdUrl.$error"-->
                     <!--ng-if="(formAttr.gdsBrdUrl.$dirty && formAttr.gdsBrdUrl.$invalid)">-->
                    <!--<span class="error"> 品牌网址输入有误！ </span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <!-- 第二行 -->
        <div class="form-group">
            <label class="col-sm-2 control-label">品牌网址：</label>
            <div class="col-sm-3">
                <input type="text" name='gdsBrdUrl' class="form-control" ng-model="gdsBrdUpd.brdWebsite"  maxlength="1000"
                       ng-pattern="/^((https|http|ftp|rtsp|mms):\/\/)?(([a-zA-Z0-9\._-]+\.[a-zA-Z]{2,6})|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,4})*(\/[a-zA-Z0-9\&%_\./-~-]*)?$/">
                <div ng-messages="formAttr.gdsBrdUrl.$error"
                     ng-if="(formAttr.gdsBrdUrl.$dirty && formAttr.gdsBrdUrl.$invalid)">
                    <span class="error"> 品牌网址输入有误！ </span>
                </div>
            </div>
        </div>
        <!-- 第三行 -->

        <div class="form-group">
            <label class="col-sm-2 control-label">LOGO：</label>

            <div class="col-sm-4">
                <p class="form-control-static">图片支持JPG、PNG，大小不超过2M</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> </label>

            <div class="col-lg-6" style="margin-top:-25px;margin-left: -15px;">
                <div class="wrapper-md"><!--ng-controller="ImgoneCtrl"-->
                    <!--<div class="m-b">
                        <input type="file" id="fileInput1" accept=".png,.jpg"/>
                    </div>-->
                    <div class="m-b" style="margin-left: -15px;">
                        <a href="javascript:" class="a-upload mt_6"> <input
                                type="file" id="fileInput1" ng-click="selectImg($event, gdsBrdUpd.brdLogo)" accept=".png,.jpg"/> 选择品牌图片
                        </a>
                        <!--<input type="text" style="display: none" ng-model=" gdsBrdUpd.brdLogo"/>-->
                        <input type="button" value="上传" ng-click="uploadImg(gdsBrdUpd.brdLogo)" class="btn btn-default btn-addon mt_5" user-power="WGDS01006003"/>
                    </div>
                    <div class="hbox hbox-auto-xs" style="margin-top: -15px;">
                        <div class="col">
                            <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs"
                                 style="height:240px;width:240px;position: relative;">
                                <div class="bg-light" style="height:220px;width:220px;">
                                    <img ng-src="{{gdsBrdUpd.brdLogo.fileArray[0].basePath+gdsBrdUpd.brdLogo.fileArray[0].fileUrl}}"
                                         style="height:220px;width:220px;"/>
                                </div>
                                <div class="finger" ng-if="gdsBrdUpd.brdLogo.fileArray[0].flag != uploadFlag.UN_SEL"
                                     style="position: absolute;right: 5px;top: 5px;width: 30px;height: 30px;background:url(common/img/x_alt.png) no-repeat;background-size: 100%;border-radius: 50%;cursor: pointer;"
                                     ng-click="delImgItem(gdsBrdUpd.brdLogo, gdsBrdUpd.brdLogo.fileArray[0])">
                                </div>
                                <div ng-if="gdsBrdUpd.brdLogo.fileArray[0].flag == uploadFlag.UPLOAD_SUCC" style="width: 220px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">已上传</div>
                                <div ng-if="gdsBrdUpd.brdLogo.fileArray[0].flag == uploadFlag.UN_UPLOAD" style="width: 220px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">未上传</div>
                                <div ng-if="gdsBrdUpd.brdLogo.fileArray[0].flag == uploadFlag.UN_SEL" style="width: 220px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">未选择</div>
                                <div ng-if="gdsBrdUpd.brdLogo.fileArray[0].flag == uploadFlag.UPLOAD_FAILED" style="width: 220px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">上传失败</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 第六行 -->
       <!-- <div class="form-group" style="margin-top:-15px;">
            <label class="col-sm-2 control-label"></label>
            <button class="btn btn-info btn-addon" style="margin-left:15px;" ng-click="submit1()">点击上传</button>
        </div>-->
        <!-- 第七行 -->
        <div class="form-group">
            <label class="col-sm-2 control-label">品牌描述：</label>

            <div class="col-sm-2">
                <textarea class="form-control" rows="6" style="width:500px;" ng-model="gdsBrdUpd.brdDesc"  maxlength="1000"
                          ng-trim="false"></textarea>
            </div>
        </div>

        <div class="form-group ">
            <label class="col-sm-2 control-label"></label>
            <button class=" btn btn-success " style="margin:20px 35px 20px 15px;" ng-click="updateGdsBrd()"
                    ng-disabled="formAttr.$invalid||isSubmit"  user-power="WGDS01006003"> 提交保存
            </button>
            <button class=" btn btn-info " ui-sref="app.goods.gdsBrd({isBack:true})" style="width: 85px;">返回</button>
        </div>
    </form>


</div>