<div class="bg-light lter b-b wrapper-md">
	<h4 class="m-n font-thin h4">
		审批
		<a class="btn btn-info btn-addon mr_8" ui-sref="app.staff.baPromote">返回BA晋升督导流程管理</a>
	</h4>
</div>

<div class="wrapper-md" ng-controller="baPormoteApprController">
	<form name="form" class="form-horizontal form-validation">
		<tabset class="tab-container">
			<tab>
				<tab-heading> 申请信息 </tab-heading>
				<div class="panel-heading">
					<!--1.基本信息-->
					<accordion close-others="oneAtATime">
						<accordion-group is-open="status.baseInfoOpen">
							<accordion-heading>
								1.基本信息 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.baseInfoOpen, 'fa-angle-right': !status.baseInfoOpen}"></i>
							</accordion-heading>
							<div class="form-group">
								<label class="col-xs-2 control-label">申请编号：</label>
								<div class="col-xs-2 control-label label-text-left"style="padding-left:0px;text-align: left;">{{baPromoteInfo.applNum}}</div>
								<label class="col-xs-2 control-label">申请人：</label>
								<div class="col-xs-2 control-label label-text-left"style="padding-left:0px;text-align: left;">{{baPromoteInfo.applicant}}</div>
								<label class="col-xs-2 control-label">审批状态：</label>
								<div class="col-xs-2 control-label label-text-left text-red" style="padding-left:0px;text-align: left;">{{baPromoteInfo.apprStat|dicNameFilter:"C018"}}</div>
							</div>
							<div class="form-group">
								<label class="col-xs-2 control-label">提交时间：</label>
								<div class="col-xs-4 control-label label-text-left" style="padding-left:0px;text-align: left;">{{baPromoteInfo.applSbmtTm|date:'yyyy-MM-dd HH:mm:ss'}}</div>
							</div>
						</accordion-group>
					</accordion>
				</div>
				<div class="panel-heading">
					<!--2.申请内容-->
					<accordion close-others="oneAtATime">
						<accordion-group is-open="status.entBaseInfoOpen">
							<accordion-heading>
								2.申请内容 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.entBaseInfoOpen, 'fa-angle-right': !status.entBaseInfoOpen}"></i>
							</accordion-heading>
							<div class="form-group">
                                <label class="col-xs-2 control-label style="width:160px;">晋升人员：</label>
                                <div class="col-xs-2 control-label label-text-left" style="padding-left:0px;text-align: left;">{{baPromoteInfo.posChgStf}}</div>
                                <label class="col-xs-3 control-label style="width: 160px;" style="width: 160px;">晋升人员原来职位：</label>
                                <div class="col-xs-2 control-label label-text-left" style="padding-left:0px;text-align: left;">{{baPromoteInfo.oldPos}}</div>
                                <label class="col-xs-2 control-label" style="width:110px;">晋升职位：</label>
                                <div class="col-xs-2 control-label label-text-left" style="padding-left:0px;text-align: left;">{{baPromoteInfo.newPos}}<span ng-if="baPromoteInfo.posGrdNum != null &&  baPromoteInfo.posGrdNum != ''"> > {{baPromoteInfo.posGrdNum}}</span></div>
                            </div>
							<div class="form-group">
								<label class="col-xs-3 control-label style="width:195px;" style="width:195px;">晋升之后直属主管：</label>
								<div class="col-xs-2 control-label label-text-left" style="padding-left:0px;text-align: left;">{{baPromoteInfo.supvrStfNum}}</div>
							</div>
							
							 <div class="form-group">
		                        <label class="col-xs-3 control-label"  style="width: 210px;">晋升之后管理的人员：</label>
		                     </div>
		                     <div class="form-group">
		                         <label class="col-xs-2 control-label"></label>
		                         <div class="col-xs-10">
		                            <table class="table table-bordered table-condensed table-striped table-hover">
		                                <tr>
		                                    <th>人员编号</th>
		                                    <th>姓名</th>
		                                    <th>职位</th>
		                                    <th>等级</th>
		                                    <th>所在城市</th>
		                                </tr>           
		                                <tr ng-repeat="stf in stfList">
		                                    <td>{{stf.stfNum}}</td>
		                                    <td>{{stf.stfNm}}</td>
		                                    <td>{{stf.posNm}}</td>
		                                    <td>{{stf.posGrdNum}}</td>
		                                    <td>{{stf.rgnNm}}</td>
		                                </tr>                   
		                             </table>                           
		                         </div>
		                    </div>  
							 <div class="form-group">
		                        <label class="col-xs-2 control-label"  style="width: 210px;">晋升之后管理的门店：</label>
		                    </div>
							<div class="form-group">
		                        <label class="col-xs-2 control-label"></label>
		                        <div class="col-xs-10">
		                            <table class="table table-bordered table-condensed table-striped table-hover">
		                                <tr>
		                                    <th>门店编号</th>
		                                    <th>门店名称</th>
		                                    <th>所属渠道</th>
		                                    <th>所属销售大区</th>
		                                    <th>所属城市</th>
		                                    <th>所属城市分区</th>
		                                </tr>
		                                <tr ng-repeat="store in storeList ">
		                                    <td title="'门店编号'">{{store.strNum}}</td>
		                                    <td title="'门店名称'">{{store.strNm}}</td>
		                                    <td title="'所属渠道'">{{store.chnlNm}}</td>
		                                    <td title="'所属销售大区'">{{store.majRgnNm}}</td>
		                                    <td title="'所属城市'">{{store.cityNum}}</td>
		                                    <td title="'所属城市分区'">{{store.partiNm}}</td>
		                                </tr>
		                            </table>
		                        </div>
                              </div>
							
							
						</accordion-group>
					</accordion>
				</div>
                <div class="panel-heading">
                    <!--3.判断依据-->
                    <accordion close-others="oneAtATime">
                        <accordion-group is-open="status.judgmentBasisOpen">
                            <accordion-heading>
                                3.参考依据 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.judgmentBasisOpen, 'fa-angle-right': !status.judgmentBasisOpen}"></i>
                            </accordion-heading>
                            <div class="form-group">
                                <label class="col-xs-4 control-label" style="width: 190px;">变动人入职时间：</label>
                                <div class="col-xs-2 control-label label-text-left" style="padding-left:0px;text-align: left;">{{baPromoteInfo.stfEntDt|date:'yyyy-MM-dd'}}</div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label" style="width: 245px;">变动人上一档期销售业绩：</label>
                                <div class="col-xs-2 control-label label-text-left" style="padding-left:0px;text-align: left;">￥{{baPromoteInfo.posChgStfLstPhaAcmp}}</div>
                                <label class="col-xs-3 control-label">变动人近三档平均业绩：</label>
                                <div class="col-xs-2 control-label label-text-left" style="padding-left:0px;text-align: left;">￥{{baPromoteInfo.avgOfLst3PhaSaleAmt}}</div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
                <div class="panel-heading">
                    <!--4.可操作-->
                    <accordion close-others="oneAtATime">
                        <accordion-group is-open="status.apprOperationOpen">
                            <accordion-heading>
                                4.可操作 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.apprOperationOpen, 'fa-angle-right': !status.apprOperationOpen}"></i>
                            </accordion-heading>
                            <div class="form-group">
                                <label class="col-xs-2 control-label"><span style="color: red;">*</span>是否通过：</label>
                                <div class="col-xs-1" ng-repeat="apprRstInfo in apprRstList">
                                    <div class="radio">
                                        <label class="i-checks i-checks-sm"><input name="apprRadio" type="radio" ng-model="baPromoteInfo.apprRst" value="{{apprRstInfo.key}}" ng-required="true" /><i></i>{{apprRstInfo.text}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label"></label>
                                <div class="col-xs-8">
                                    <textarea class="form-control" rows="5" name="apprCommonts" ng-model="baPromoteInfo.apprCommonts" ng-maxlength="1000" maxLength="1000"></textarea>
                                    <div ng-messages="form.apprCommonts.$error" ng-if="(form.apprCommonts.$dirty && form.apprCommonts.$invalid)">
                                        <span ng-message="maxlength" class="error">审批意见长度不能超过1000位！</span>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
				
			</tab>
			<tab ng-show="status.apprHisDisplay">
				<tab-heading> 审批历史 </tab-heading>
				<div class="panel-heading">
					<div ng-table="tableParams">
						<table class="table table-bordered table-condensed table-striped table-hover">
							<tr ng-repeat="apprHisInfo in $data">
								<td title="'操作时间'" style="text-align: center;width: 210px;">{{apprHisInfo.updtTm}}</td>
								<td title="'操作人'" style="text-align: center;width: 150px;">{{apprHisInfo.stfNm}}</td>
								<td title="'审批状态'" style="text-align: center;width: 90px;">{{apprHisInfo.status|dicNameFilter:"C019"}}</td>
								<td title="'备注'" style="text-align: left">{{apprHisInfo.apprComments}}</td>
							</tr>
						</table>
					</div>
				</div>
			</tab>
		</tabset>

		<div class="panel-heading">
            <button class="btn btn-info btn-addon mr_10" ng-click="apprBaPromoteAppl()" ng-disabled="form.$invalid">提交</button>
        </div>
	</form>
</div>