<!-- 标题信息开始 -->
<div class="bg-light lter b-b wrapper-md">
	<h4 class="m-n font-thin h4">
	BA晋升督导流程
	<a class="btn btn-success btn-addon mr_8" ui-sref="app.staff.baPromoteInsert" user-power="WSTF01010002">新增BA晋升督导流程</a>
</div>
<!-- 标题信息开始 -->

<div ng-controller="baPromoteController">
	<!-- 温馨提示开始 -->
	<div class="row">
		<div class="panel-heading">
			<div class="col-md-12">
				<div class="list-group list-group-lg list-group-sp">
					<div herf="" class="list-group-item clearfix bg-light dker">
						<div class="clear">
							<p>温馨提示：</p>
							<p>该流程审批完成之后需要手动设置生效时间才会更新人员信息;</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 温馨提示结束 -->

	<!-- 查询面板开始 -->
	<div class="panel-heading">
		<accordion close-others="oneAtATime">
			<accordion-group is-open="status.open">
				<accordion-heading>
					查询<i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
				</accordion-heading>
				<div class="form-group" user-power="WSTF01010001">
					<label class="col-sm-2 control-label">审批状态：</label>
					<div class="btn-group">
						<button ng-repeat="apprStat in apprStatList" class="btn btn-default" ng-class="{'active':apprStat.key == selectedApprStat}"
							ng-model="apprStatModel" ng-click="selectBaPromoteList('{{apprStat.key}}')">{{apprStat.text}}</button>
					</div>
				</div>
			</accordion-group>
		</accordion>
	</div>
	<!-- 查询面板结束 -->

	<!-- 总件数显示开始 -->
	<div class="panel-heading">
		<label class="control-label mt_6">共有<span class="error">{{recordCount}}</span>条数据 </label>
    <label class="control-label mt_6" ng-if="recordCount==0">（没有符合条件的数据）</label>
	</div>
	<!-- 总件数显示结束 -->

	<!-- table列表开始 -->
	<div class="panel-heading">
		<div ng-table="tableParams">
			<table class="table table-bordered table-condensed table-striped table-hover">
				<tr ng-repeat="row in $data">
					<td title="'申请编号'" style="min-width: 110px;">{{row.applNum}}</td>
					<td title="'申请人'" style="min-width: 120px;">{{row.applicant}}</td>
					<td title="'晋升人员'" style="min-width: 120px;">{{row.posChgStf}}</td>
					<td title="'晋升人员原来职位'" style="min-width: 100px;">{{row.oldPos}}</td>
					<td title="'晋升职位'" style="min-width: 70px;">{{row.newPos}}</td>
                    <td title="'晋升人员上档业绩'" style="min-width: 120px;">{{row.posChgStfLstPhaAcmp| currency : "￥"}}</td>
					<td title="'近三档平均业绩'" style="min-width: 120px;">{{row.avgOfLst3PhaSaleAmt| currency : "￥"}}</td>
				    <td title="'提交时间'" style="min-width: 120px;">{{row.applSbmtTm}}</td>
					<td title="'生效状态'" style="min-width: 90px;">
					<span ng-if="((row.phaGrpOid==null&&row.prmnPhaOid==null) || row.prmnStat=='2')">{{row.prmnStat|dicNameFilter:"C047"}}</span>
					<span ng-if="(row.phaGrpOid!=null&&row.prmnPhaOid!=null&&row.prmnStat!='2')">{{row.phaGrpNm}}>{{row.phaNm}}</span>
					</td>
					<td title="'审批状态'" style="min-width: 90px;" class="text-red">{{row.apprStat|dicNameFilter:"C018"}}</td>
					<td title="'操作'" class="mr_22" style="min-width: 140px;">
						<a class="mr_9" ng-click="infoBaPormoteAppl(row.applNum)">查看</a>
						<a class="mr_9" ng-if="row.editFlag == 1" ng-click="updateBaPormoteAppl(row.applNum, row.updtTm)" >编辑</a>
						<a class="mr_9" ng-if="row.apprFlag == 1" ng-click="apprPormoteAppl(row.applNum, row.updtTm)">审批</a>
						<a class="mr_9" ng-if="row.cancelFlag == 1" ng-click="cancelBaPormoteAppl(row.applNum, row.updtTm)">取消</a>
						<a class="mr_9" ng-if="row.deleteFlag == 1" ng-click="deleteBaPormoteAppl(row.applNum, row.updtTm)">删除</a>
						<a class="mr_9" ng-if="row.effectFlag == 1" ng-click="effectBaPormoteAppl(row.applNum, row.updtTm)" user-power="WSTF01011006">生效</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- table列表结束 -->
	<div>
        <script type="text/ng-template" id="delete.html">
            <div ng-include="'common/tpl/delete.html'"></div>
        </script>
    </div>
    <div>
        <script type="text/ng-template" id="effectOut.html">
            <div ng-include="'staff/tpl/effectOut.html'"></div>
        </script>
     </div>
</div>
