<div class="bg-light lter b-b wrapper-md">
	<h4 class="m-n font-thin h4">
		新增入职流程
		<a class="btn btn-default btn-addon mr_8" ui-sref="app.staff.entryAppl">返回入职流程管理</a>
	</h4>
</div>

<div ng-controller="entryApplInsertController">
	<form name="form" class="form-horizontal form-validation">
		<div class="panel-heading">
			<!--1.入职人基本资料-->
			<accordion close-others="oneAtATime">
				<accordion-group is-open="status.entBaseInfoOpen">
					<accordion-heading>
						1.入职人基本资料 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.entBaseInfoOpen, 'fa-angle-right': !status.entBaseInfoOpen}"></i>
					</accordion-heading>
					<div class="form-group">
						<input type="hidden" ng-model="entryInfo.entApplNum">
						<label class="col-xs-2 control-label"><span class="text-red">*</span>姓名：</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" name="stfNm" ng-model="entryInfo.stfNm" ng-required="true" ng-maxlength="20" maxLength="20" />
							<div ng-messages="form.stfNm.$error" ng-if="(form.stfNm.$dirty && form.stfNm.$invalid)">
								<span ng-message="required" class="error">姓名不能为空</span>
								<span ng-message="maxlength" class="error">姓名长度不能超过20位</span>
							</div>
						</div>
						<label class="col-xs-2 control-label"><span class="text-red">*</span>所属部门：</label>
						<div class="col-xs-4">
							<select class="form-control" name="entDep" ng-model="entryInfo.entDep" ng-options="data.key as data.text for data in departmentList" ng-required="true"></select>
							<div ng-messages="form.entDep.$error" ng-if="(form.entDep.$dirty && form.entDep.$invalid)">
								<span ng-message="required" class="error">所属部门不能为空</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label"><span class="text-red">*</span>职位等级：</label>
						<div class="col-xs-4">
							<select class="form-control" name="stfPos" ng-model="entryInfo.stfPos" ng-options="data.key as data.text for data in positionList" ng-change="changePosition(entryInfo.stfPos)" style="width: 49%;display: inline;" ng-required="true"></select>
							<select class="form-control" ng-model="entryInfo.posGrdNum" ng-options="data.posGrdNum as data.posGrdNm for data in positionLevelList" style="width: 49%;display: inline;" ng-if="positionLevelList.length > 0"></select>
							<div ng-messages="form.stfPos.$error" ng-if="(form.stfPos.$dirty && form.stfPos.$invalid)">
								<span ng-message="required" class="error">职位等级不能为空</span>
							</div>
						</div>
						<label class="col-xs-2 control-label"><span class="text-red">*</span>联系电话：</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" name="stfMobPhNum" ng-model="entryInfo.stfMobPhNum"
									 ng-required="true" ng-maxlength="15" maxLength="15" ng-pattern="/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" />
							<div ng-messages="form.stfMobPhNum.$error" ng-if="(form.stfMobPhNum.$dirty && form.stfMobPhNum.$invalid)">
								<span ng-message="required" class="error">联系电话不能为空</span>
								<span ng-message="maxlength" class="error">联系电话长度不能超过15位</span>
								<span ng-message="pattern" class="error">请输入有效的联系电话</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label"><span class="text-red">*</span>身份证号码：</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" name="stfIdNum" ng-model="entryInfo.stfIdNum"
									ng-required="true" ng-maxlength="18" maxLength="18" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" />
							<div ng-messages="form.stfIdNum.$error" ng-if="(form.stfIdNum.$dirty && form.stfIdNum.$invalid)">
								<span ng-message="required" class="error">身份证号码不能为空</span>
								<span ng-message="maxlength" class="error">身份证号码长度不能超过18位</span>
								<span ng-message="pattern" class="error">请输入有效的身份证号码</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"><span class="text-red">*</span>身份证图片：</label>
						<div class="col-sm-6">
							<p class="form-control-static text-muted">图片支持JPG、PNG，大小不超过2M</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"></label>
						<div class="col-lg-5 ">
							<div style="margin-left: -10px;">
								<a href="javascript:;" class="a-upload mt_6">
									<input type="file" id="gdsInUpl" ng-click="selectImg($event, entryInfo.idCardPosPic)" accept=".png,.jpg"/>
									选择上传身份证正面图片
								</a>
								<input type="button" value="上传" ng-click="uploadImg(entryInfo.idCardPosPic)" class="btn btn-default btn-addon mt_5" />
							</div>
							<input type="hidden" name="idCardPosPic" ng-model="entryInfo.idCardPosPic.fileArray[0].basePath" ng-required="true" />
							<div ng-messages="form.idCardPosPic.$error" ng-if="(form.idCardPosPic.$dirty && form.idCardPosPic.$invalid)">
								<span ng-message="required" class="error">身份证正面图片不能为空</span>
							</div>
						</div>
						<div class="col-lg-5 ">
							<div style="margin-left: -10px;">
								<a href="javascript:;" class="a-upload mt_6">
									<input type="file" id="gdsInUpl" ng-click="selectImg($event, entryInfo.idCardOppPic)" accept=".png,.jpg"/>
									选择上传身份证反面图片
								</a>
								<input type="button" value="上传" ng-click="uploadImg(entryInfo.idCardOppPic)" class="btn btn-default btn-addon mt_5" />
							</div>
							<input type="hidden" name="idCardOppPic" ng-model="entryInfo.idCardOppPic.fileArray[0].basePath" ng-required="true" />
							<div ng-messages="form.idCardOppPic.$error" ng-if="(form.idCardOppPic.$dirty && form.idCardOppPic.$invalid)">
								<span ng-message="required" class="error">身份证反面图片不能为空</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"></label>
						<div class="col-xs-5">
							<div class="wrapper-sm b-a bg-white m-r-xs m-b-xs box" style="height:200px;width:300px;position: relative;">
								<div class="bg-light" style="height:180px;width:280px;">
									<!--<img ng-src="{{entryInfo.idCardPosPic}}" style="height:220px;width:220px;"/>-->
									<img ng-src="{{entryInfo.idCardPosPic.fileArray[0].basePath+entryInfo.idCardPosPic.fileArray[0].fileUrl}}" style="height:180px;width:280px;"/>
									<div class="finger" ng-if="entryInfo.idCardPosPic.fileArray[0].flag != uploadFlag.UN_SEL"
										style="position: absolute;right: 5px;top: 5px;width: 30px;height: 30px;background:url(common/img/x_alt.png) no-repeat;background-size: 100%;border-radius: 50%;cursor: pointer;"
										ng-click="delImgItem(entryInfo.idCardPosPic, entryInfo.idCardPosPic.fileArray[0])">
									</div>
									<div ng-if="entryInfo.idCardPosPic.fileArray[0].flag == uploadFlag.UPLOAD_SUCC" style="width: 280px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">已上传</div>
									<div ng-if="entryInfo.idCardPosPic.fileArray[0].flag == uploadFlag.UN_UPLOAD" style="width: 280px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">未上传</div>
									<div ng-if="entryInfo.idCardPosPic.fileArray[0].flag == uploadFlag.UN_SEL" style="width: 280px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">未选择</div>
									<div ng-if="entryInfo.idCardPosPic.fileArray[0].flag == uploadFlag.UPLOAD_FAILED" style="width: 280px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">上传失败</div>
								</div>
							</div>
						</div>
						<div class="col-xs-5">
							<div class="wrapper-sm b-a bg-white m-r-xs m-b-xs box" style="height:200px;width:300px;position: relative;">
								<div class="bg-light" style="height:180px;width:280px;">
									<!--<img ng-src="{{entryInfo.idCardOppPic}}" style="height:220px;width:220px;"/>-->
									<img ng-src="{{entryInfo.idCardOppPic.fileArray[0].basePath+entryInfo.idCardOppPic.fileArray[0].fileUrl}}" style="height:180px;width:280px;"/>
									<div class="finger" ng-if="entryInfo.idCardOppPic.fileArray[0].flag != uploadFlag.UN_SEL"
										style="position: absolute;right: 5px;top: 5px;width: 30px;height: 30px;background:url(common/img/x_alt.png) no-repeat;background-size: 100%;border-radius: 50%;cursor: pointer;"
										ng-click="delImgItem(entryInfo.idCardOppPic, entryInfo.idCardOppPic.fileArray[0])">
									</div>
									<div ng-if="entryInfo.idCardOppPic.fileArray[0].flag == uploadFlag.UPLOAD_SUCC" style="width: 280px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">已上传</div>
									<div ng-if="entryInfo.idCardOppPic.fileArray[0].flag == uploadFlag.UN_UPLOAD" style="width: 280px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">未上传</div>
									<div ng-if="entryInfo.idCardOppPic.fileArray[0].flag == uploadFlag.UN_SEL" style="width: 280px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">未选择</div>
									<div ng-if="entryInfo.idCardOppPic.fileArray[0].flag == uploadFlag.UPLOAD_FAILED" style="width: 280px;height: 30px;line-height:30px;background-color:rgba(0,0,0,0.5);color:#f0f3f4;text-align: center; position: absolute;left: 10px;bottom: 8px;">上传失败</div>
								</div>
							</div>
						</div>
					</div>
				</accordion-group>
			</accordion>
		</div>
		<div class="panel-heading">
			<!--2.入职信息-->
			<accordion close-others="oneAtATime">
				<accordion-group is-open="status.entInfoOpen">
					<accordion-heading>
						2.入职信息 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.entInfoOpen, 'fa-angle-right': !status.entInfoOpen}"></i>
					</accordion-heading>
					<div class="form-group">
						<label class="col-xs-2 control-label"><span class="text-red">*</span>入职时间：</label>
						<div class="col-xs-4">
							<div class="input-group w-md" ng-controller="DatepickerDemoCtrl">
								<input type="text" class="form-control" name="stfEntDt" datepicker-popup="yyyy-MM-dd" ng-model="entryInfo.stfEntDt" is-open="opened" datepicker-options="dateOptions" ng-required="true" ng-readonly="true" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
							<div ng-messages="form.stfEntDt.$error" ng-if="(form.stfEntDt.$dirty && form.stfEntDt.$invalid)">
								<span ng-message="required" class="error">入职时间不能为空</span>
							</div>
						</div>
						<label class="col-xs-2 control-label"><span class="text-red">*</span>所在城市：</label>
						<div class="col-xs-4">
							<select class="form-control" ng-model="entryInfo.stfFrProv" ng-options="data.key as data.text for data in provinceList" ng-change="changeProvince(entryInfo.stfFrProv)" style="width: 49%;display: inline;"></select>
							<select class="form-control" name="stfFrCity" ng-model="entryInfo.stfFrCity" ng-options="data.key as data.text for data in cityList" style="width: 49%;display: inline;" ng-required="true"></select>
							<div ng-messages="form.stfFrCity.$error" ng-if="(form.stfFrCity.$dirty && form.stfFrCity.$invalid)">
								<span ng-message="required" class="error">所在城市不能为空</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label"><span class="text-red">*</span>直属主管：</label>
						<div class="col-xs-4">
							<div class="input-group w-md">
								<input type="hidden" ng-model="entryInfo.supvrStfNum" ng-required="true" />
								<input type="text" class="form-control" name="supvrStfNum" ng-model="supvrStfNumDisplay" ng-required="true" ng-readonly="true" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openStf('lg')">浏览</button>
								</span>
								<div ng-messages="form.supvrStfNum.$error" ng-if="(form.supvrStfNum.$dirty && form.supvrStfNum.$invalid)">
									<span ng-message="required" class="error">直属主管不能为空</span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group" ng-if="status.supvrStfInfoDisabled">
						<label class="col-xs-2 control-label"></label>
						<div class="col-xs-5 control-label">
							<table class="table table-bordered">
								<tr><th colspan="2">直属主管相关信息</th></tr>
								<tr>
									<td style="text-align: right;width: 50%;">直属主管职位：</td>
									<td>{{entryInfo.supvrStfPosNum|stfBasPosNum}}</td>
								</tr>
								<tr ng-repeat="supvrStfInfo in supvrStfList">
									<td style="text-align: right;width: 50%;">所属{{supvrStfInfo.posNum|stfBasPosNum}}：</td>
									<td>{{supvrStfInfo.stfnm}}</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label"><span class="text-red">*</span>所属门店：</label>
						<div class="col-xs-2">
							<a class="btn m-b-xs w-xs btn-default" ng-click="openDep('lg')">添加</a>
						</div>
						<div class="col-xs-4">
							<input type="hidden" name="subStore" ng-model="entryInfo.subStore" ng-required="true" />
							<input type="hidden" name="subStore" ng-model="entryInfo.subStoreNm" />
							<div ng-messages="form.subStore.$error" ng-if="(form.subStore.$dirty && form.subStore.$invalid)">
								<span ng-message="required" class="error">所属门店不能为空</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label"></label>
						<div class="col-xs-10">
							<table class="table table-bordered table-condensed table-striped table-hover">
								<tr>
									<th style="width: 15%;">门店编号</th>
									<th style="width: 15%;">门店名称</th>
									<th style="width: 15%;">所属渠道</th>
									<th style="width: 15%;">所属销售大区</th>
									<th style="width: 15%;">所属城市</th>
									<th style="width: 15%;">所属城市分区</th>
									<th style="width: 10%;">操作</th>
								</tr>
								<tr ng-repeat="store in storeList">
									<td title="'门店编号'">{{store.strNum}}</td>
									<td title="'门店名称'">{{store.strNm}}</td>
									<td title="'所属渠道'">{{store.chnlNm}}</td>
									<td title="'所属销售大区'">{{store.majRgnNm}}</td>
									<td title="'所属城市'">{{store.cityNum}}</td>
									<td title="'所属城市分区'">{{store.partiNm}}</td>
									<td title="'操作'" class="mr_22">
										<a class="mr_9" ng-click="delStore($index)">删除</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</accordion-group>
			</accordion>
		</div>
		<div class="panel-heading">
			<button class="btn btn-info btn-addon mr_10" ng-click="saveEntryAppl()" ng-disabled="form.$invalid" user-power="WSTF01009002">保存</button>
			<button class="btn btn-info btn-addon mr_10" ng-click="submitEntryAppl()" ng-disabled="form.$invalid" user-power="WSTF01009002">提交</button>
		</div>
	</form>
	<div>
		<script type="text/ng-template" id="multiselectstore.html">
			<div ng-include="'common/tpl/multiselectstore.html'"></div>
		</script>
		<script type="text/ng-template" id="radiostaff.html">
			<div ng-include="'common/tpl/radiostaff.html'"></div>
		</script>
	</div>
</div>