<!-- 标题信息开始 -->
<div class="bg-light lter b-b wrapper-md">
	<h4 class="m-n font-thin h4">
	入职流程
	<a class="btn btn-success btn-addon mr_8" ui-sref="app.staff.entryApplInsert" user-power="WSTF01009002">新增入职流程</a>
</div>
<!-- 标题信息开始 -->

<div ng-controller="entryApplController">
	<!-- 查询面板开始 -->
	<div class="panel-heading">
		<accordion close-others="oneAtATime">
			<accordion-group is-open="status.open">
				<accordion-heading>
					查询<i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
				</accordion-heading>
				<div class="form-group" user-power="WSTF01009001">
					<label class="col-sm-2 control-label">审批状态：</label>
					<div class="btn-group">
						<button ng-repeat="apprStat in apprStatList" class="btn btn-default" ng-class="{'active':apprStat.key == selectedApprStat}"
							ng-model="apprStatModel" ng-click="selectEntryAppl(apprStat.key)">{{apprStat.text}}</button>
					</div>
				</div>
			</accordion-group>
		</accordion>
	</div>
	<!-- 查询面板结束 -->

	<!-- 总件数显示开始 -->
	<div class="panel-heading">
		<label class="control-label mt_6">共有<span class="text-red">{{recordCount}}</span>条数据</label>
		<label class="control-label mt_6" ng-if="recordCount == 0">（没有符合条件的数据）</label>
	</div>
	<!-- 总件数显示结束 -->

	<!-- table列表开始 -->
	<div class="panel-heading">
		<div ng-table="tableParams">
			<table class="table table-bordered table-condensed table-striped table-hover">
				<tr ng-repeat="row in $data">
					<td title="'申请编号'" width="'120px'">{{row.entApplNum}}</td>
					<td title="'提交人'" width="'130px'">{{row.applSbmtNm}}</td>
					<td title="'入职人姓名'" width="'130px'">{{row.stfNm}}</td>
					<td title="'职位等级'" width="'130px'">
						{{row.stfPos|stfBasPosNum}}<span ng-if="row.posGrdNm != null &&  row.posGrdNm != ''">>{{row.posGrdNm}}</span>
					</td>
					<td title="'入职时间'" width="'120px'">{{row.stfEntDt}}</td>
					<td title="'联系电话'" width="'120px'">{{row.stfMobPhNum}}</td>
					<td title="'提交时间'" width="'150px'">{{row.sbmtTm}}</td>
					<td title="'审批状态'" width="'90px'" class="text-red">{{row.apprStat|dicNameFilter:"C018"}}</td>
					<td title="'操作'" class="mr_22" width="'140px'">
						<a class="mr_9" ng-click="infoEntryAppl(row.entApplNum)" user-power="WSTF01009001">查看</a>
						<a class="mr_9" ng-if="row.editFlag == 1" ng-click="updateEntryAppl(row.entApplNum, row.updtTm)" user-power="WSTF01009003">编辑</a>
						<a class="mr_9" ng-if="row.apprFlag == 1" ng-click="apprEntryAppl(row.entApplNum, row.updtTm)" user-power="WSTF01009005">审批</a>
						<a class="mr_9" ng-if="row.cancelFlag == 1" ng-click="cancelEntryAppl(row.entApplNum, row.updtTm)" user-power="WSTF01009003">取消</a>
						<a class="mr_9" ng-if="row.deleteFlag == 1" ng-click="deleteEntryAppl(row.entApplNum, row.updtTm)" user-power="WSTF01009004">删除</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- table列表结束 -->
	<div>
		<script type="text/ng-template" id="delete.html">
			<div ng-include="'common/tpl/delete.html'"></div>
		</script>
		<script type="text/ng-template" id="cancel.html">
			<div ng-include="'common/tpl/cancel.html'"></div>
		</script>
	</div>
</div>
