<!-- 标题信息开始 -->
<div class="bg-light lter b-b wrapper-md">
    <h4 class="m-n font-thin h4">
        查看工资报表历史
    </h4>
</div>
<!-- 标题信息结束 -->

<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" ng-click="checkAll()" class="select-all" value=""/>
    全选
</script>
<div ng-controller="SalaryHistoryCtrl">
    <!-- 查询面板开始 -->
    <div class="panel-heading">
        <accordion close-others="oneAtATime">
            <accordion-group 
            	is-open="status.selectopen">
            	<accordion-heading>查询<i class="pull-right fa fa-angle-right"
                         ng-class="{'fa-angle-down': status.selectopen, 'fa-angle-right': !status.selectopen}"></i></accordion-heading>
                <form name="form" class="form-horizontal">
                	<div class="form-group">
                        <label class="col-sm-2 control-label">人员姓名：</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="salaryHistory.stfNm" />
                        </div>
                        <label class="col-sm-2 control-label">人员编号：</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="salaryHistory.stfNum" />
                        </div>
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <label class="i-checks i-checks-sm"> <input
                                        type="checkbox" ng-model="salaryHistory.hasDirSupFlg"> <i></i> 包含其下成员
                                </label>
                            </div>
                        </div>
                    </div>
                	<div class="form-group">
                        <label class="col-sm-2 control-label"><span style="color:red;">*</span>生成的工资报表：</label>
                        <div class="col-sm-3">
                            <select name="account" class="form-control" ng-model="salaryHistory.phaGrpOid" ng-options="phaGrpOid.key as phaGrpOid.text for phaGrpOid in phaGrpOidList" ng-selected="phaGrpOid.key==salaryHistory.phaGrpOid" ng-change="changePhaGrpOid(salaryHistory.phaGrpOid)" >
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select name="account" class="form-control" ng-model="salaryHistory.phaId" ng-options="data.key as data.text for data in phaIdList" >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">职位等级：</label>
                        <div class="col-sm-2">
                            <select name="account" class="form-control" ng-model="salaryHistory.posNum" ng-options="job.key as job.text for job in jobList" ng-selected="job.key==salaryHistory.posNum" ng-change="changePosition(salaryHistory.posNum)" >
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select name="account" class="form-control" ng-model="salaryHistory.posGrdNum" ng-options="posGrdNum.key as posGrdNum.text for posGrdNum in posList" >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label text-left"></label>
                        <div class="col-sm-offset-1 col-sm-1">
                            <button class="btn btn-info btn-addon" ng-click="stfsalaryhistoryselect()"  user-power="WSTF01023001" >搜索</button>
                        </div>
                    </div>
                </form>
            </accordion-group>
        </accordion>
    </div>
    <!-- 查询面板结束 -->
    <!-- 导出系列按钮面板开始 -->
    <div class="panel-heading">
    	<button class="btn btn-default btn-addon" ng-click="outPut()"  user-power="WSTF01023002" >批量导出</button>
        <button class="btn btn-default btn-addon"  style="display: none;" ng-csv="getArray" lazy-load="true"  id="outs"  filename= "{{filename}}" add-bom="true" field-separator=",">批量导出</button>
        <label class="control-label mt_6">共有<span class="error">{{listcount}}</span>条数据 </label><label class="control-label mt_6" ng-if="listcount==0">（没有符合条件的数据）</label>
    </div>
    <div class="panel-heading" ng-if="havedataflag != ''">
        <label class="control-label mt_6">销售业绩时间： </label><label class="control-label mt_6" ng-if="saleStartTm != ''">{{saleStartTm + ' ~ ' + saleEndTm}} </label>
        <label class="control-label mt_6">基本工资档期： </label><label class="control-label mt_6" ng-if="phaGrpNm != ''">{{phaGrpNm + ' > ' + phaNm}} </label>
    </div>
    <!-- 导出系列按钮面板结束 -->
    <!-- table列表开始 -->
    <div class="panel-heading">
        <div ng-table="tableParams">
            <table
                    class="table table-bordered table-condensed   table-striped table-hover">
                <tr ng-repeat="salaryListinfo in $data">
                	<td header="'headerCheckbox.html'" width="'90px'" style="font-weight: bold;  ">
                        <input type="checkbox" ng-model="checkboxes.items[salaryListinfo.oId]" ng-click="checkItem()"/>
                    </td>
                    <td title="'人员编号'" width="'100px'">{{salaryListinfo.stfNum}}</td>
					<td title="'姓名'" width="'100px'">{{salaryListinfo.stfNm}}</td>
					<td title="'部门'" width="'100px'">{{salaryListinfo.subDep | stfBasSubDep}}</td>
					<td title="'职位'" width="'100px'">{{salaryListinfo.position | stfBasPosNum}}</td>
					<td title="'等级'" width="'100px'">{{salaryListinfo.position | stfBasPosGrdNum:salaryListinfo.posGrd}}</td>
					<td title="'入职日期'" width="'100px'">{{salaryListinfo.stfEntDt}}</td>
					<td title="'最后工作日'" width="'100px'">{{salaryListinfo.dimiDt}}</td>
					<td title="'试用星级标准'" width="'100px'">￥{{salaryListinfo.probStarStd | fromMoney}}</td>
					<td title="'转正星级标准'" width="'100px'">￥{{salaryListinfo.regularStarStd | fromMoney}}</td>
					<td title="'考勤工资'" width="'100px'">￥{{salaryListinfo.attendAmt | fromMoney}}</td>
					<td title="'应加合计'" width="'100px'">￥{{salaryListinfo.summation | fromMoney}}</td>
					<td title="'应扣实计'" width="'100px'">￥{{salaryListinfo.totDedu | fromMoney}}</td>
					<td title="'实发工资'" width="'100px'">￥{{salaryListinfo.netSal | fromMoney}}</td>
					<td title="'社保'" width="'100px'">￥{{salaryListinfo.sclSecurity | fromMoney}}</td>
					<td title="'公积金'" width="'100px'">￥{{salaryListinfo.accumFunds | fromMoney}}</td>
					<td title="'应计税金额'" width="'100px'">￥{{salaryListinfo.supTaxAmt | fromMoney}}</td>
					<td title="'个税'" width="'100px'">￥{{salaryListinfo.persIncomeTax | fromMoney}}</td>
					<td title="'其它应扣'" width="'100px'">￥{{salaryListinfo.otherDedu | fromMoney}}</td>
					<td title="'操作'" width="'150px'" class="mr_22">
					    <a class="mr_9" href="#/app/staff/stfSalaryHistorySelectByKey/{{salaryListinfo.oId}}/{{salaryListinfo.applNum}}"  user-power="WSTF01023001" > 查看</a>
					</td>
                    
                </tr>
            </table>
        </div>
    </div>
    <!-- table列表结束 -->
</div>
