<div class="bg-light lter b-b wrapper-md">
	<h4 class="m-n font-thin h4">
		新增工资计算规则
		<button class="btn btn-default  btn-addon mr_8"
			style="float: right; margin-right: 10px;"
			ui-sref="app.staff.wageCalculationRules">返回工资计算规则管理</button>
	</h4>
</div>
<div class="wrapper-md" ng-controller="XzjsgzCtrl">
	<div class="panel-heading">
		<form name="form" class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label">
				    <span style="color: red;">*</span>规则名称：
				</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" style="display:inherit;" ng-model="gzname" name="gzname" maxLength=50 required>
					<div ng-messages="form.gzname.$error" ng-if="(form.gzname.$dirty && form.gzname.$invalid)">
						<span ng-message="required" class="error">规则名称不能为空！ </span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">
				    <span style="color: red;">*</span>应用于：
			    </label>
				<div class="col-sm-2">
					<select name="position" ng-model="position" class="form-control" ng-change="positiongrade()" required>
						<option ng-repeat="zw in positions" value = {{zw.key}} required>
						{{zw.text}}</option>
					</select>
				</div>
				<div class="col-sm-2">
					<select name="grade" ng-model="grade" class="form-control">
						<option ng-repeat="dj in Grade" value = {{dj.key}} required>
						{{dj.text}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2"></div>
				<div class="col-sm-4">
					<a class="btn m-b-xs btn-default" ng-click="tjgzlylb()">添加工资来源类别</a>
				</div>
			</div>
			<div ng-repeat="userinfo in gzlylbdata">
				<div style="display: none">{{$index+1}}</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="form-group">
							<label class="col-sm-3 control-label">工资来源类别：</label>
							<div class="col-sm-6">
								<select name=userinfo.gzlylb ng-model=userinfo.gzlylb class="form-control" ng-change="xzgzlylb(this)" required>
									<option ng-repeat="laiyuanleibie in gongzilaiyuan" value={{laiyuanleibie.key}}>
										C007{{laiyuanleibie.text}}
									</option>
								</select>
							</div>
							<div class="col-sm-1  control-label">
								<a class="mr_9" ng-click="scgzlylb($index)">删除</a>
							</div>
						</div>
						<div data-ng-include=userinfo.ycy></div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label> 
				<input type="radio" name="zt" class="input-icon input-icon-right" value="D001" ng-model="zt">启用</input> 
				<input type="radio" name="zt" class="input-icon input-icon-right" value="D002" ng-model="zt">禁用</input>
			</div>
			<div class="form-group">
				<div class="col-sm-2"></div>
				<div class="col-sm-2">
					<button ng-disabled="form.$invalid||isSubmit" class="btn btn-info  mr_10" style="margin-right: 10px;" ng-click="tjbc(this)">提交保存</button>
				</div>
			</div>
		</form>
	</div>
</div>