<ion-header-bar align-title="center" class="header">
    <a class="header_left" ui-sref="home"></a>
    <h1 style="font-size:1.4rem">会员操作</h1>
</ion-header-bar>
<!--<ion-content  overflow-scroll="false">-->
    <!--<div class="wrap" >-->
        <!--<ion-list>-->
            <!--<div class="padding-left" ng-click="changeMembFlg()"  style="background:#fff;">-->
                <!--<a ui-sref="membBasInsert">-->
                    <!--<div class="bottom_line">-->
                        <!--<span class="w240 float_l">-->
                            <!--<div class="xzhy_img"></div>-->
                            <!--<h2 style="line-height: 28px;margin-top: 13px;margin-bottom: 0;">新增会员</h2>-->
                            <!--<p style="line-height: 28px;color:#b1b1b1;">快速创建会员信息</p>-->
                        <!--</span>-->
                        <!--<div class="go_right_img3"></div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</ion-list>-->
    <!--</div>-->
   <!-- -->
<!--</ion-content>-->

<!--WJP修改-->
<ion-content  overflow-scroll="false">
    <div class="wrap" >
        <ion-list>
            <a ui-sref="membBasInsert">
                <div class="item touch-item-0"  ng-click="changeMembFlg()" user-power-fp="MMEM01002">
                        <div class="bottom_line">
                            <div class="w240 float_l p-Left">
                                <div class="xzhy_img"></div>
                                <h2 class="f_H2">新增会员</h2>
                                <p class="f_p">快速创建会员信息</p>
                            </div>
                            <div class="go_right_img3"></div>
                        </div>
                </div>
            </a>
        </ion-list>
    </div>

</ion-content>
<!--
<ion-footer-bar align-title="center" style="width: 100%;">
    <ul class="nav top_line">
        <li style="width:33%" >
            <a href="" ui-sref="membInfo">
                <div class="icos hyxx"></div>
                <p>会员信息</p>
            </a>
        </li>
        <li style="width:33%">
            <a href="" class="active">
                <div class="icos hycz"></div>
                <p>会员操作</p>
            </a>
        </li>
        <li style="width:33%">
            <a href="" ui-sref="membRevisitMenu">
                <div class="icos bahf"></div>
                <p>BA回访</p>
            </a>
        </li>
    </ul>
</ion-footer-bar>-->
