<ion-header-bar align-title="center"  class="header">
    <div  ui-sref="membBasInsert" >
        <a class="header_left"   ng-click="saveMembSkinCare()"></a>
    </div>
    <h1 style="font-size:1.4rem">护肤品喜好</h1>
</ion-header-bar>
<ion-content class="scroll-content has-header memb_checkbox" overflow-scroll="false">
    <ul class="list">
        <!--<ion-item class="item item-divider divider_line"style="border: none;">-->
            <!--<span style="color: #ddd;">可选择多个选项</span>-->
        <!--</ion-item>-->
        <div class="tishi" ng-show="infoShow">
            <div class="tishi_box"><img src="common/images/tishi.png" width="20">可选择多个选项</div>
        </div>
        <!--<li class="item item-checkbox"  style="height: 55px;">
            <label class="checkbox" style="
    margin-top: -18px;">
                <input type="checkbox" ng-model="isChecked1" checked>
            </label>
            <h2>补水</h2>
        </li>
        <li class="item item-checkbox  item-button-right" style="height: 55px;">
            <label class="checkbox"  style="
    margin-top: -18px;">
                <input type="checkbox" ng-model="isChecked2" checked>
            </label>
            <h2>美好</h2>
        </li>-->
        <ion-checkbox class="checkbox_line" ng-repeat="skinDemand in skinDemands" ng-scroll
                      ng-model="skinDemand.checked"
                      ng-checked="skinDemand.checked"

                >
            {{ skinDemand.text }}
        </ion-checkbox>
    </ul>
</ion-content>
