<div ng-show="pageShow.membBasShow">
    <ion-header-bar align-title="center"  class="header">
        <a class="header_left" ng-click="goFrontPageExit();"></a>
        <h1 style="font-size:1.4rem">新增会员</h1>
        <a href="" class="header_right2" >
            <div class="safe" ng-click="saveMembInfoInsert()" user-power="MMEM01002001">保存</div>
        </a>
    </ion-header-bar>

    <ion-content  class="has-header stable">
        <ion-list>
            <ion-item  style="padding: 0;border: none;">
                <div class="p-Left ">
                    <div class="memInfoItem_line row " style="padding: 0;">
                        <div class="col-25" style="padding: 0;width: 25%;"><span style="color:red;" >*</span>会员姓名</div>
                        <div class="col-75" style="padding: 10px 5% 0 0;width: 75%;">
                            <input type="text" maxlength="10" ng-model="insertMemBas.membNm" style="width:100%;color: #b1b1b1;text-align: right;"/>
                        </div>
                    </div>
                </div>
                <div class="p-Left">
                    <div class="memInfoItem_line row" style="padding: 0;">
                        <div class="col-25" style="padding: 0;width: 25%;"><span style="color:red;" >*</span>联系电话</div>
                        <div class="col-75" style="padding: 10px 5% 0 0;width: 75%;">
                            <input type="text" maxlength="11" ng-model="insertMemBas.phone"  style="width:100%;color: #b1b1b1;text-align: right;" />
                        </div>
                    </div>
                </div>
                <div class="p-Left">
                    <div class="memInfoItem_line row" style="padding: 0;">
                        <div class="col-25" style="padding: 0;width: 25%;">&nbsp; 微信账号</div>
                        <div class="col-75" style="padding: 10px 5% 0 0;width: 75%;">
                            <input type="text" style="width:100%;color: #b1b1b1;text-align: right;" ng-model="insertMemBas.bindWctAcct"/>
                        </div>
                    </div>
                </div>
                <a class="item touch-item-1-m" ng-click="singlePageShow(false, true, false, false, false, false, false, false)">
                    <div class="p-Left">
                        <div class="memInfoItem_line">
                            <span class="float_l"><span style="color:red;" >*</span>来源渠道</span>
                            <div class="go_right_img2"></div>
                            <span class=" memInfoItem1 float_r" ng-bind="insertMemBas.provChnl | chnlInfoFilter"></span>
                        </div>
                    </div>
                </a>
                <!--<div style="line-height: 45px;" ng-click="openDatePicker(1)">
                    <div class="memInfoItem_line4">&lt;!&ndash;datepicker-popup="yyyy-MM-dd"&ndash;&gt;
                        <span class="w140 float_l p-Left" ><span style="color:red;" >*</span>加入时间</span>
    &lt;!&ndash;
                        <input type="text" date-format style="padding-top:23px;color: #b1b1b1;float: right;text-align: right;padding-right: 10px;" ng-model="insertMemBas.registTm">
    &ndash;&gt;
                        <input type="text"  style="padding-top:23px;color: #b1b1b1;float: right;text-align: right;padding-right: 10px;" ng-model="insertMemBas.registTm" date-format readonly>

                        &lt;!&ndash;<input type="date"
                               ng-model="evaluateReportData.reportDate"
                               min="2016-05-01"
                               rquired
                               ng-required
                               class="form-control"/>&ndash;&gt;
                        &lt;!&ndash;<input type="text" style="padding-top:23px;color: #b1b1b1;float: right;text-align: right;padding-right: 10px;" ng-model="memInfo.registTm | date:'yyyy-MM-dd'">&ndash;&gt;
                    </div>
                </div>-->

                <div  style="line-height: 45px;" ng-click="openDatePicker(1, $event)">
                    <div class="memInfoItem_line row" style="padding: 0;"><!--datepicker-popup="yyyy-MM-dd"-->

                        <div class="col-30" style="padding:0 0 0 5%;width:30%;"><span style="color:red;" >*</span>加入时间</div>
                        <!--
                            <input type="date"  style="padding-top:23px;color: #b1b1b1;float: right;text-align: right;padding-right: 10px;" ng-model="memInfo.registTm" date-format ng-hide="true">
                        -->
                        <div class="col-70" style="padding: 10px 0 0 0;width:70%;">
                            <input type="text"  style="padding-right: 6.5%;width:100%;color: #b1b1b1;text-align: right;background-color:#fff;" ng-model="insertMemBas.registTm" date-format readonly/>
                        <!--<input type="text" style="padding-top:23px;color: #b1b1b1;float: right;text-align: right;padding-right: 10px;" ng-model="memInfo.registTm | date:'yyyy-MM-dd'">-->
                        </div>
                    </div>
                </div>
            </ion-item >

            <ion-item class="item item-divider" style="border: none;" >
            </ion-item>

            <ion-item style="padding: 0;border: none;"  >
                <a class="item touch-item-1-m top_line"  ng-click="singlePageShow(false, false, true, false, false, false, false, false)">
                    <div class="p-Left"  >
                        <div class="memInfoItem_line">
                            <span class="w90 float_l"><span style="color:red;" >*</span>性别</span>
                            <div class="go_right_img2"></div>
                            <span class=" memInfoItem1 float_r" ng-bind="insertMemBas.sex | dicNameFilter:'C003'"></span>
                        </div>
                    </div>
                </a>
                <div class="p-Left">
                    <div class="memInfoItem_line row" style="padding: 0;" ng-click="openDatePicker(2, $event)">
                        <div class="col-25" style="padding: 0;width: 25%;">出生日期</div>
                        <div class="col-75" style="padding: 10px 5% 0 0;width: 75%;">
    <!--
                        <input type="type" style="padding-top:23px;color: #b1b1b1;float: right;text-align: right;padding-right: 10px;" ng-model="insertMemBas.birtyday">
    -->
                            <input type="text" style="width:100%;color: #b1b1b1;text-align: right;background-color:#fff;" ng-model="insertMemBas.birtyday" date-format readonly/>
                        </div>
                    </div>
                </div>
                <div class="p-Left" >

                    <div class="memInfoItem_line row" style="padding: 0;">
                        <div class="col-25" style="padding: 0;width: 25%;">电子邮件</div>
                        <div class="col-75" style="padding: 10px 5% 0 0;width: 75%;">
                            <input type="text" style="width:100%;color: #b1b1b1;text-align: right;" ng-model="insertMemBas.email"/>
                        </div>
                    </div>
                </div>
                    <!--<a ui-sref="membLocalAreaInsert">-->
                <a class="item touch-item-0-m"  ng-click="areaSingle()">
                    <div class="memInfoItem_line">
                        <span class="float_l p-Left"><span style="color:red;" >*</span>所在地区</span>
                        <div class="go_right_img2"></div>
                        <span class=" memInfoItem float_r"><span ng-bind="localArea | textAbbr:6"></span></span>
                    </div>
                </a>
            </ion-item>

            <ion-item class="item item-divider" style="border: none;">
            </ion-item>


            <ion-item  style="padding:0;border: none;" >
                <a class="item touch-item-0-m top_line" ng-click="singlePageShow(false, false, false, false, true, false, false, false)">
                    <div class="p-Left">
                        <div class="memInfoItem_line">
                            <span class="float_l">肌肤类型</span>
                            <div class="go_right_img2"></div>
                            <span class=" memInfoItem1 float_r" ng-bind="insertMemBas.membSkinCareNeed.C025 | dicNameFilter:'C025'"></span>
                        </div>
                    </div>
                </a>



                <a class="item touch-item-0-m" ng-click="skinStatusSingle()" ng-if="insertMemBas.membSkinCareNeed.C026[0] != undefined && insertMemBas.membSkinCareNeed.C026[0] != null && insertMemBas.membSkinCareNeed.C026[0] != '' && insertMemBas.membSkinCareNeed.C026.length > 1">
                    <div class="p-Left" >
                        <div class="memInfoItem_line">
                            <span class="float_l">肌肤现状</span>
                            <div class="go_right_img2"></div>
                            <span class=" memInfoItem float_r"><span ng-bind="insertMemBas.membSkinCareNeed.C026[0] | dicNameFilter:'C026'"></span><span>...</span></span>
                        </div>
                    </div>
                </a>

                <a class="item touch-item-0-m" ng-click="skinStatusSingle()" ng-if="insertMemBas.membSkinCareNeed.C026[0] == undefined || insertMemBas.membSkinCareNeed.C026[0] == null || insertMemBas.membSkinCareNeed.C026[0] == '' || insertMemBas.membSkinCareNeed.C026.length == 1">
                    <div class="p-Left" >
                        <div class="memInfoItem_line">
                            <span class="float_l">肌肤现状</span>
                            <div class="go_right_img2"></div>
                            <span class=" memInfoItem1 float_r" ><span ng-bind="insertMemBas.membSkinCareNeed.C026[0] | dicNameFilter:'C026'"></span></span>
                        </div>
                    </div>
                </a>




                <!--<div class="p-Left" >
                    <a ui-sref="membSkincareProdPrefInsert">
                        <div class="memInfoItem_line">
                            <span class="w140 float_l">护肤品喜好</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </div>-->


                    <a class="item touch-item-0-m" ng-click="skinCareSingle()" ng-if="insertMemBas.membSkinCareNeed.C027[0] != '' && insertMemBas.membSkinCareNeed.C027[0] != null && insertMemBas.membSkinCareNeed.C027[0] != undefined && insertMemBas.membSkinCareNeed.C027.length > 1">
                        <div class="p-Left" >
                            <div class="memInfoItem_line">
                                <span class="float_l">护肤品喜好</span>
                                <div class="go_right_img2"></div>
                                <span class=" memInfoItem float_r" ><span ng-bind="insertMemBas.membSkinCareNeed.C027[0] | dicNameFilter:'C027'"></span><span>...</span></span>
                            </div>
                        </div>

                    </a>

                    <a class="item touch-item-0-m" ng-click="skinCareSingle()" ng-if="insertMemBas.membSkinCareNeed.C027[0] == undefined || insertMemBas.membSkinCareNeed.C027[0] == null || insertMemBas.membSkinCareNeed.C027[0] == '' || insertMemBas.membSkinCareNeed.C027.length == 1">
                        <div class="p-Left" >
                            <div class="memInfoItem_line">
                                <span class="float_l">护肤品喜好</span>
                                <div class="go_right_img2"></div>
                                <!--<span class=" memInfoItem float_r">补水...</span>-->
                                <span class=" memInfoItem1 float_r" ><span ng-bind="insertMemBas.membSkinCareNeed.C027[0] | dicNameFilter:'C027'"></span></span>
                            </div>
                        </div>
                    </a>




                    <a class="item touch-item-0-m" ng-click="skinCareDmndSingle()"  ng-if="insertMemBas.membSkinCareNeed.C028[0] != '' && insertMemBas.membSkinCareNeed.C028[0] != null && insertMemBas.membSkinCareNeed.C028[0] != undefined && insertMemBas.membSkinCareNeed.C028.length > 1">
                        <div class="memInfoItem_line">
                            <span class="float_l p-Left">肌肤护理需求</span>
                            <div class="go_right_img2"></div>
                            <!--<span class=" memInfoItem float_r">精华乳...</span>-->
                            <span class=" memInfoItem float_r"><span ng-bind="insertMemBas.membSkinCareNeed.C028[0] | dicNameFilter:'C028'" ></span><span>...</span></span>
                        </div>
                    </a>

                    <a class="item touch-item-0-m"ng-click="skinCareDmndSingle()" ng-if="insertMemBas.membSkinCareNeed.C028[0] == undefined || insertMemBas.membSkinCareNeed.C028[0] == null || insertMemBas.membSkinCareNeed.C028[0] == '' || insertMemBas.membSkinCareNeed.C028.length == 1">
                        <div class="memInfoItem_line">
                            <span class="float_l p-Left">肌肤护理需求</span>
                            <div class="go_right_img2"></div>
                            <!--<span class=" memInfoItem float_r">精华乳...</span>-->
                            <span class=" memInfoItem1 float_r"><span ng-bind="insertMemBas.membSkinCareNeed.C028[0] | dicNameFilter:'C028'" ></span></span>
                        </div>
                    </a>


            </ion-item >
            <!--<ion-item class="item item-divider" style="padding: 0 0 1px 0;border: none;">
                <div class="memInfoItem_line6" style="height: 30px;"></div>
            </ion-item>-->
            <ion-item class="item item-divider bottom_line" style="padding: 0 0 1px 0;">
                <div class="bottom_line" style="height: 16px;"></div>
            </ion-item>

            <ion-item class="item"  style="padding:5% ;border: none;background: #fff;">
                <!--<textarea placeholder="备注" rows="3" style="height: 150px;width:100%;outline:none;border: 0;-->
                       <!--border: solid 1px #ddd;border-style:hidden;p-Left: 10px;padding-top: 10px;" ng-model="insertMemBas.remark"></textarea>-->
                <textarea style="font-size: 16px;" placeholder="备注" class="stable-bg memb_text" rows="5" maxlength="1000" ng-model="insertMemBas.remark"></textarea>
            </ion-item>
            <!--<label class="item item-input item-stacked-label">
                <textarea placeholder="请文明用语..."></textarea>
            </label>-->
        </ion-list>

    </ion-content>
</div>

<!--来源渠道-->
<div ng-show="pageShow.chnlShow">

    <ion-header-bar align-title="center"  class="header">
        <div ng-click="singlePageShow(true, false, false, false, false, false, false, false)"><a class="header_left"></a></div>
        <h1 style="font-size:1.4rem">来源渠道</h1>
    </ion-header-bar>
    <ion-content  class="has-header memb_radio radio_line" overflow-scroll="false">
        <!--<ion-radio  ng-model="choice1" value="A" style="height: 55px;font-size:14px;" >gsd</ion-radio>
        <ion-radio  ng-model="choice2" value="A" style="height: 55px;font-size:14px;">C/S</ion-radio>
        <ion-radio  ng-model="choice3" value="A" style="height: 55px;font-size:14px;">eysty</ion-radio>-->


        <!--<ion-radio ng-repeat="item in serverSideList"
                   ng-value="item.value"
                   ng-model="data.serverSide"
                   ng-change="serverSideChange(item)"
                   name="server-side">-->
        <!--<ion-radio ng-repeat="chan in allChannel" style="height: 55px;"
                   ng-value="chan.key"
                   ng-model="insertMemBas.provChnl" ng-click="chnlSelect(chan.key)">
            <span ng-bind="chan.text"></span>
        </ion-radio>-->

        <ion-list>
            <ion-radio name="chan" ng-repeat="chan in allChannel" style="height: 56px;" ng-value="chan.key" ng-model="insertMemBas.provChnl" ng-click="chnlSelect(chan.key)"><span ng-bind="chan.text"></span></ion-radio>
        </ion-list>
    </ion-content>



</div>

<!--性别-->
<div ng-show="pageShow.sexShow">

    <ion-header-bar align-title="center"  class="header">
        <div  ng-click="singlePageShow(true, false, false, false, false, false, false, false)">
            <a class="header_left"   ></a>
        </div>
        <h1 style="font-size:1.4rem">性别</h1>
    </ion-header-bar>
    <ion-content  class="has-header memb_radio radio_line" overflow-scroll="false">
        <!-- <ion-radio  ng-model="choice1" value="A" style="height: 55px;font-size:14px;" >女</ion-radio>
         <ion-radio  ng-model="choice2" value="A" style="height: 55px;font-size:14px;">男</ion-radio>-->
        <!--<ion-radio ng-repeat="sex in sexList" style="height: 55px;"
                   ng-value="sex.value"
                   ng-model="insertMemBas.sex" ng-click="sexSelect(sex.value)">
            <span ng-bind="sex.text"></span>
        </ion-radio>-->

        <ion-list>
            <ion-radio name="sex" ng-repeat="sex in sexList" style="height: 56px;" ng-value="sex.value" ng-model="insertMemBas.sex" ng-click="sexSelect(sex.value)"><span ng-bind="sex.text"></span></ion-radio>
        </ion-list>
    </ion-content>

</div>




<!--
=======================================================================================
-->

<!--所在地区-->
<div ng-show="pageShow.areaShow">

    <div ng-show="proCityPreShow.localAreaShow">
        <ion-header-bar align-title="center"  class="header">
            <!--
                <a style="height: 38px;width: 40px;display:block;position: absolute;line-height: 38px;z-index: 999;"  ui-sref="membBasInsert" ><img src="common/images/fanhui_icon.png" width="14" height="20" class="back_left" ng-click="locationBegin()"></a>
            -->
            <div ng-click="goFrontPage()">
                <a class="header_left" ></a>
            </div>
            <h1 style="font-size:1.4rem">所在地区</h1>
        </ion-header-bar>
        <ion-content  class="has-header mem" overflow-scroll="false">
            <ion-list>
                <ion-item class="item item-divider divider_line" style="height: 34px;line-height: 1px;color: #b1b1b1;" ng-click="locationBegin()">
                    <span>定位到的位置</span>
                </ion-item>

                <ion-item class="view_line" ng-click="addAddress()"  style="padding: 0;" >
                    <span class="p-Left" ng-bind="locationAddr"></span>
                </ion-item>

                <!--<ion-item class="item item-divider divider_line" >-->
                <!--</ion-item>-->
                <!--<ion-item class="view_line"  ng-click="searchPrev('provShow')" style="padding: 0;" >-->
                    <!--<a>-->
                        <!--<div  class="p-Left">-->
                            <!--<span class="w140 float_l">省、市、区</span>-->
                            <!--<div class="go_right_img2"></div>-->
                            <!--<span class="memInfoItem float_r" ng-bind="curAddress | textAbbr:11"></span>-->
                            <!--<span class="memInfoItem float_r"></span>-->
                        <!--</div>-->

                    <!--</a>-->
                <!--</ion-item >-->
                <!--&lt;!&ndash; <ionic-city-picker options='vm.CityPickData2' class="view_line"></ionic-city-picker>&ndash;&gt;-->

                <!--<ion-item style="padding: 0 0 1px 0;">-->
            <!--<textarea ng-model="insertMemBas.addrDtl" placeholder="详细地址" rows="6" style="width:100%;outline:none;resize:none;-->
	                    <!--border-style:hidden;padding-left: 5%;padding-top: 10px;font-size:16px;;"></textarea>-->
                <!--</ion-item>-->


                <ion-item class="item item-divider divider_line" style="padding: 0;height: 16px !important;">
                </ion-item>
                <ion-item class="view_line"  ng-click="searchPrev('provShow')" style="padding: 0;" >
                    <a>
                        <div  class="p-Left">
                            <span class="w140 float_l">省、市、区</span>
                            <div class="go_right_img2"></div>
                            <span class="memInfoItem float_r" ng-bind="curAddress | textAbbr:11"></span>
                            <span class="memInfoItem float_r"></span>
                        </div>

                    </a>
                </ion-item >

                <ion-item class="textarea_line" style="padding: 0 0 1px 0;">
                    <textarea placeholder="详细地址"   ng-model="insertMemBas.addrDtl" rows="6"
                              style="width:100%;outline:none;resize:none;
	                    border-style:hidden;padding-left: 5%;padding-top: 10px;font-size:16px;;"></textarea>
                </ion-item>

            </ion-list>
        </ion-content>
    </div>

    <!--选择省份-->
    <div ng-show="proCityPreShow.provShow">
        <ion-header-bar align-title="center"  class="header">
            <!--<div ng-click="changeAreaShow('localAreaShow')" class="p-left">
                <a class="header_left"><img src="common/images/fanhui_icon.png" width="14" height="20" class="back_left"></a>
            </div>-->

            <div ng-click="changeAreaShow('localAreaShow')">
                <a class="header_left"   ></a>
            </div>
            <h1 style="font-size:1.4rem">选择省份</h1>
        </ion-header-bar>

        <ion-content  class="has-header" overflow-scroll="false" >
            <ion-list>
                <div ng-repeat="prov in findPrev">
                    <ion-item class="item item-divider divider_line" ng-if="prov.rgnNum == '999999'">
                        <span style="color: #ddd;" ng-bind="prov.rgnNmPinyinFirstChar"></span>
                    </ion-item>

                    <ion-item class="view_line" style="padding: 0 0 1px 0;border: none;" ng-if="prov.rgnNum != '999999'" ng-click="">
                        <a class="item touch-item-0-m" ng-click="searchCity('cityShow', prov.rgnNm, prov.rgnNum)" ng-if="prov.rgnNm">
                            <div class="memInfoItem_line p-Left">
                                <span class="w140 float_l" ng-bind="prov.rgnNm"></span>
                                <div class="go_right_img2"></div>
                                <span class="memInfoItem float_r" ng-if="selectPrev == prov.rgnNm">已选地区</span>
                            </div>
                        </a>

                        <!-- <a ng-click="searchPref('prefShow', city.rgnNm, city.rgnNum)" ng-if="prov.rgnNm">
                             <div class="padding-left">
                                 <span class="w140 float_l" ng-bind="prov.rgnNm"></span>
                                 <div class="go_right_img2"></div>
                                 <span class="memInfoItem float_r" ng-if="selectCtiy == prov.rgnNm">已选地区</span>
                             </div>
                         </a>-->
                        <!--<a ui-sref="" >
                            <div class="memInfoItem_line padding-left">
                                <span class="w140 float_l">安庆省</span>
                                <div class="go_right_img2"></div>
                            </div>
                        </a>-->
                    </ion-item >
                </div>
                <!--<div>
                    <ion-item class="item item-divider bottom_line">
                        <span style="color: #ddd;">A</span>
                    </ion-item>

                    <ion-item style="padding: 0 0 1px 0;border: none;">
                        <a ui-sref="" >
                            <div class="memInfoItem_line padding-left">
                                <span class="w140 float_l">安徽省</span>
                                <div class="go_right_img2"></div>
                                <span class="memInfoItem float_r">已选地区</span>
                            </div>
                        </a>
                        <a ui-sref="" >
                            <div class="memInfoItem_line padding-left">
                                <span class="w140 float_l">安庆省</span>
                                <div class="go_right_img2"></div>
                            </div>
                        </a>
                    </ion-item >
                </div>
                <div>
                    <ion-item class="item item-divider bottom_line">
                        <span style="color: #ddd;">A</span>
                    </ion-item>

                    <ion-item style="padding: 0 0 1px 0;border: none;">
                        <a ui-sref="" >
                            <div class="memInfoItem_line padding-left">
                                <span class="w140 float_l">安徽省</span>
                                <div class="go_right_img2"></div>
                                <span class="memInfoItem float_r">已选地区</span>
                            </div>
                        </a>
                        <a ui-sref="" >
                            <div class="memInfoItem_line padding-left">
                                <span class="w140 float_l">安庆省</span>
                                <div class="go_right_img2"></div>
                            </div>
                        </a>
                    </ion-item >
                </div>

                <div>
                    <ion-item class="item item-divider divider_line" >
                        <span style="color: #ddd;">B</span>
                    </ion-item>

                    <ion-item style="padding: 0 0 1px 0;border: none;">
                        <a ui-sref="" >
                            <div class="memInfoItem_line padding-left">
                                <span class="w140 float_l">北京市</span>
                                <div class="go_right_img2"></div>
                            </div>
                        </a>
                    </ion-item >
                </div>-->


                <!--<ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >
                <ion-item class="item item-divider divider_line" >
                    <span style="color: #ddd;">B</span>
                </ion-item>

                <ion-item style="padding: 0 0 1px 0;border: none;">
                    <a ui-sref="" >
                        <div class="memInfoItem_line padding-left">
                            <span class="w140 float_l">北京市</span>
                            <div class="go_right_img2"></div>
                        </div>
                    </a>
                </ion-item >-->

            </ion-list>
        </ion-content>
    </div>

    <!--选择城市-->
    <div ng-show="proCityPreShow.cityShow">
        <ion-header-bar align-title="center"  class="header">
           <!-- <a class="header_left"  ng-click="changeAreaShow('provShow')" ><img src="common/images/fanhui_icon.png" width="14" height="20" class="back_left"></a>-->

            <div ng-click="changeAreaShow('provShow')">
                <a class="header_left"   ></a>
            </div>
            <h1 style="font-size:1.4rem">选择城市</h1>
        </ion-header-bar>

        <ion-content  class="has-header" overflow-scroll="false" >
            <ion-list>
                <ion-item style="padding: 0;border: none;" ng-repeat="city in findCity">
                    <a class="item touch-item-1-m" ng-click="searchPref('prefShow', city.rgnNm, city.rgnNum)"  ng-if="$index < findCity.length-1">

                        <div class="memInfoItem_line p-Left">
                            <span class="w140 float_l" ng-bind="city.rgnNm"></span>
                            <div class="go_right_img2"></div>
                            <!-- <span class="memInfoItem float_r">已选地区</span>-->
                            <span class="memInfoItem float_r" ng-if="selectCtiy == city.rgnNm">已选地区</span>
                        </div>
                    </a>
                    <a class="item touch-item-0-m" ng-click="searchPref('prefShow', city.rgnNm, city.rgnNum)" ng-if="$index == findCity.length-1">

                        <div class="memInfoItem_line p-Left">
                            <span class="w140 float_l" ng-bind="city.rgnNm"></span>
                            <div class="go_right_img2"></div>
                            <!-- <span class="memInfoItem float_r">已选地区</span>-->
                            <span class="memInfoItem float_r" ng-if="selectCtiy == city.rgnNm">已选地区</span>
                        </div>
                    </a>
                </ion-item >

            </ion-list>
        </ion-content>
    </div>


    <!--选择区域-->
    <div ng-show="proCityPreShow.prefShow">
        <ion-header-bar align-title="center"  class="header">
<!--
            <a class="header_left"  ng-click="changeAreaShow('cityShow')" ><img src="common/images/fanhui_icon.png" width="14" height="20" class="back_left"></a>
-->
            <div ng-click="changeAreaShow('cityShow')">
                <a class="header_left"  ></a>
            </div>
            <h1 style="font-size:1.4rem">选择区域</h1>
        </ion-header-bar>

        <ion-content  class="has-header" overflow-scroll="false" >
            <ion-list>
                <ion-item style="padding:0;border: none;" ng-repeat="pref in findPref">
                    <a class="item touch-item-1-m" ng-click="selectPrefFun('localAreaShow', pref.rgnNm, pref.rgnNum)" ng-if="$index < findPref.length-1">

                        <div class="memInfoItem_line p-Left p-Right">

                            <span class="w140 float_l" ng-bind="pref.rgnNm"></span>
                            <span class="memInfoItem float_r" ng-if="selectPref == pref.rgnNm">已选地区</span>
                            <!--<span class="memInfoItem float_r">已选地区</span>-->

                        </div>
                    </a>
                    <a class="item touch-item-0-m" ng-click="selectPrefFun('localAreaShow', pref.rgnNm, pref.rgnNum)" ng-if="$index == findPref.length-1">

                        <div class="memInfoItem_line p-Left  p-Right">

                            <span class="w140 float_l" ng-bind="pref.rgnNm"></span>
                            <span class="memInfoItem float_r" ng-if="selectPref == pref.rgnNm">已选地区</span>
                            <!--<span class="memInfoItem float_r">已选地区</span>-->

                        </div>
                    </a>
                </ion-item >

            </ion-list>
        </ion-content>
    </div>

</div>


<!--
=======================================================================================
-->

<!--肌肤类型-->
<div ng-show="pageShow.skinTypeShow">

    <ion-header-bar align-title="center"  class="header">
        <div  ng-click="singlePageShow(true, false, false, false, false, false, false, false)">
            <a class="header_left"  ></a>
        </div>
        <h1 style="font-size:1.4rem">肌肤类型</h1>
    </ion-header-bar>
    <ion-content  class="has-header memb_radio radio_line" overflow-scroll="false">
        <ul>
            <!-- <li><ion-radio  ng-model="choice1" value="A" style="height: 55px;font-size:14px;" >干性</ion-radio></li>
             <li><ion-radio  ng-model="choice2" value="A" style="height: 55px;font-size:14px;">中性</ion-radio></li>
             <li><ion-radio  ng-model="choice3" value="A" style="height: 55px;font-size:14px;">油性</ion-radio></li>
             <li><ion-radio  ng-model="choice4" value="A" style="height: 55px;font-size:14px;">混合性偏油</ion-radio></li>
             <li><ion-radio  ng-model="choice5" value="A" style="height: 55px;font-size:14px;">混合性偏干</ion-radio></li>
             <li><ion-radio  ng-model="choice6" value="A" style="height: 55px;font-size:14px;">敏感性肌肤</ion-radio></li>-->
            <!--<li><ion-radio ng-repeat="skin in skinTypes" style="height: 55px;"
                           ng-value="skin.key"
                           ng-model="membInsertSkinType" ng-click="skinTypeSelect(skin.key)">
                <span ng-bind="skin.text"></span>
            </ion-radio></li>-->
            <ion-list>
                <ion-radio name="skin" ng-repeat="skin in skinTypes" style="height: 55px;"
                           ng-value="skin.key"
                           ng-model="membInsertSkinType" ng-click="skinTypeSelect(skin.key)">
                    <span ng-bind="skin.text"></span>
                </ion-radio>            </ion-list>
        </ul>
    </ion-content>

</div>

<!--肌肤现状-->
<div ng-show="pageShow.skinStatusShow">

    <ion-header-bar align-title="center"  class="header">
        <div  ng-click="skinStatusSelect()">
            <a class="header_left"  ></a>
        </div>
        <h1 style="font-size:1.4rem">肌肤现状</h1>
    </ion-header-bar>
    <!--<ion-content class="has-header">-->
    <!--<ion-checkbox  ng-model="b" ng-value="B" style="height: 55px;font-size:14px;">-->
    <!--<span>痘印</span>-->
    <!--<p></p>-->
    <!--</ion-checkbox>-->
    <!--<ion-checkbox  ng-model="b" ng-value="B" style="height: 55px;font-size:14px;">痘印</ion-checkbox>-->
    <!--</ion-content>-->
    <ion-content class="scroll-content has-header memb_checkbox" overflow-scroll="false">
        <ul class="list">
            <!--<ion-item class="item item-divider divider_line"style="border: none;">-->
            <!--<span style="color: #ddd;">可选择多个选项</span>-->
            <!--</ion-item>-->
            <div class="tishi" ng-show="skinStausInfoShow">
                <div class="tishi_box"><img src="common/images/tishi.png" width="20">可选择多个选项</div>
            </div>
            <!--<li class="item item-checkbox"  style="height: 55px;">
                <label class="checkbox" style="
        margin-top: -18px;">
                    <input type="checkbox" ng-model="isChecked1" checked>
                </label>
                <h2>痘痘</h2>
            </li>
            <li class="item item-checkbox  item-button-right" style="height: 55px;">
                <label class="checkbox"  style="
        margin-top: -18px;">
                    <input type="checkbox" ng-model="isChecked2" checked>
                </label>
                <h2>痘印</h2>
            </li>-->
            <ion-checkbox class="checkbox_line" ng-repeat="skinProb in skinProbs" ng-scroll
                          ng-model="skinProb.checked"
                          ng-checked="skinProb.checked"

                    >
                {{ skinProb.text }}
            </ion-checkbox>
        </ul>
    </ion-content>

</div>

<!--护肤品喜好-->
<div ng-show="pageShow.skinCareShow">

    <ion-header-bar align-title="center"  class="header">
        <div>
            <a class="header_left"   ng-click="skinCareSelect()"></a>
        </div>
        <h1 style="font-size:1.4rem">护肤品喜好</h1>
    </ion-header-bar>
    <ion-content class="scroll-content has-header memb_checkbox" overflow-scroll="false">
        <ul class="list">
            <!--<ion-item class="item item-divider divider_line"style="border: none;">-->
            <!--<span style="color: #ddd;">可选择多个选项</span>-->
            <!--</ion-item>-->
            <div class="tishi" ng-show="skinCareInfoShow">
                <div class="tishi_box"><img src="common/images/tishi.png" width="20">可选择多个选项</div>
            </div>
            <!--<li class="item item-checkbox"  style="height: 55px;">
                <label class="checkbox" style="
        margin-top: -18px;">
                    <input type="checkbox" ng-model="isChecked1" checked>
                </label>
                <h2>补水</h2>
            </li>
            <li class="item item-checkbox  item-button-right" style="height: 55px;">
                <label class="checkbox"  style="
        margin-top: -18px;">
                    <input type="checkbox" ng-model="isChecked2" checked>
                </label>
                <h2>美好</h2>
            </li>-->
            <ion-checkbox class="checkbox_line" ng-repeat="skinDemand in skinDemands" ng-scroll
                          ng-model="skinDemand.checked"
                          ng-checked="skinDemand.checked"

                    >
                {{ skinDemand.text }}
            </ion-checkbox>
        </ul>
    </ion-content>

</div>

<!--肌肤护理需求-->
<div ng-show="pageShow.skinCareDmndShow">

    <ion-header-bar align-title="center"  class="header">
        <div>
            <a class="header_left"   ng-click="skinCareDmndSelect()"></a>
        </div>
        <h1 style="font-size:1.4rem">肌肤护理需求</h1>
    </ion-header-bar>
    <!--<ion-content  class="has-header "  >-->
    <!--<ion-list>-->
    <!--<ion-item  >-->
    <!--<span class="w140">痘痘</span>-->
    <!--</ion-item>-->
    <!--<ion-item >-->
    <!--<span class="w140">痘印</span>-->
    <!--</ion-item >-->
    <!--</ion-list>-->
    <!--</ion-content>-->
    <ion-content class="scroll-content has-header memb_checkbox" overflow-scroll="false">
        <ul class="list">
            <!--<ion-item class="item item-divider divider_line"style="border: none;">-->
            <!--<span style="color: #ddd;">可选择多个选项</span>-->
            <!--</ion-item>-->
            <div class="tishi" ng-show="skinCareDmndInfoShow">
                <div class="tishi_box"><img src="common/images/tishi.png" width="20">可选择多个选项</div>
            </div>
            <!--<li class="item item-checkbox"  style="height: 55px;">
                <label class="checkbox" style="
        margin-top: -18px;">
                    <input type="checkbox" ng-model="isChecked1" checked>
                </label>
                <h2>洁面乳</h2>
            </li>
            <li class="item item-checkbox  item-button-right" style="height: 55px;">
                <label class="checkbox"  style="
        margin-top: -18px;">
                    <input type="checkbox" ng-model="isChecked2" checked>
                </label>
                <h2>爽肤水</h2>
            </li>-->
            <ion-checkbox class="checkbox_line" ng-repeat="skinDailyDemand in skinDailyDemands" ng-scroll
                          ng-model="skinDailyDemand.checked"
                          ng-checked="skinDailyDemand.checked"

                    >
                {{ skinDailyDemand.text }}
            </ion-checkbox>
        </ul>
    </ion-content>



</div>