


<ion-header-bar align-title="center" class="header">
    <a class="header_left" ui-sref="home" ></a>
    <h1 style="font-size:1.4rem">BA回访</h1>
</ion-header-bar>

<!--<ion-content  overflow-scroll="false">-->
    <!--<div class="wrap" >-->
        <!--<ion-list >-->
            <!--<div class="padding-left" style="background-color: #fff;">-->
                <!--<a ng-click="changeMembRtHomeFlg()">-->
                    <!--<div class="bottom_line">-->
                        <!--<span class="w240 float_l">-->
                            <!--<div class="bahfrw_img"></div>-->
                            <!--<h2 style="line-height: 28px;margin-top: 13px;margin-bottom: 0;">BA回访任务</h2>-->
                            <!--<p style="line-height: 28px;color:#b1b1b1;">知晓每天需回访的会员-->
                            <!--</p>-->
                        <!--</span>-->
                        <!--<div class="go_right_img3"></div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="padding-left" style="background-color: #fff;">-->
                <!--<a ng-click="changeMembRecHomeFlg()">-->
                    <!--<div class="bottom_line">-->
                        <!--<span class="w240 float_l">-->
                            <!--<div class="bahfjl_img"></div>-->
                            <!--<h2 style="line-height: 28px;margin-top: 13px;margin-bottom: 0;">BA回访记录</h2>-->
                            <!--<p style="line-height: 28px;color:#b1b1b1;">填写、查询会员回访记录-->
                            <!--</p>-->
                        <!--</span>-->
                        <!--<div class="go_right_img3"></div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->

        <!--</ion-list>-->
    <!--</div>-->

<!--</ion-content>-->

<!--WJP TEST-->
<ion-content  overflow-scroll="false">
    <div class="wrap" >
        <ion-list >
            <a ng-click="changeMembRtHomeFlg()" class="item touch-item-1" >
                <div class="p-Left"  user-power-fp="MMEM01003">
                        <div class="bottom_line">
                            <div class="w240 float_l">
                                <div class="bahfrw_img"></div>
                                <h2 class="f_H2">BA回访任务</h2>
                                <p class="f_p">知晓每天需回访的会员</p>
                            </div>
                            <div class="go_right_img3"></div>
                        </div>
                </div>
            </a>
            <a ng-click="changeMembRecHomeFlg()" class="item touch-item-0">
                <div  user-power-fp="MMEM01004">
                        <div class="bottom_line">
                            <div class="w240 float_l p-Left">
                                <div class="bahfjl_img"></div>
                                <h2 class="f_H2">BA回访记录</h2>
                                <p class="f_p">填写、查询会员回访记录</p>
                            </div>
                            <div class="go_right_img3"></div>
                        </div>
                </div>
            </a>
        </ion-list>
    </div>

</ion-content>
<!--
<ion-footer-bar align-title="center" style="width: 100%;">
    <ul class="nav top_line">
        <li style="width:33%" >
            <a href="" ui-sref="membInfo">
                <div class="icos hyxx"></div>
                <p>会员信息</p>
            </a>
        </li>
        <li style="width:33%">
            <a href="" ui-sref="membOperateMenu">
                <div class="icos hycz"></div>
                <p>会员操作</p>
            </a>
        </li>
        <li style="width:33%">
            <a href="" class="active">
                <div class="icos bahf"></div>
                <p>BA回访</p>
            </a>
        </li>
    </ul>
</ion-footer-bar>-->
