<ion-header-bar align-title="center" class="header">
	<a href="#/modPwd" class="angle_left" style="left:15px"><img src="common/images/back_btn.png" width="18"></a>
        <h1 style="font-size:1.4rem">修改密码</h1>
    <a class="head_right" ng-click="save()" style="margin-top:8px;font-size:1.2rem" user-power="MPER01001001"> <i>保存</i></a>
</div> 
</ion-header-bar>
<ion-content scroll="false" >
<!-- modPwdNextStep.html -->
    <div class="wrap" >
        <ul class="listvrew clearfix bottom_line">
    	    <li class="bottom_line" style="padding-right: 0px;">
    	    	<span class="float_l">新密码</span>
        	    <input name=""  type="{{newpasstype}}" class="password2" style="margin-left:20px;width:55%;" ng-model="upd.newPassword">
        	    <div ng-if="newpasstype == 'text'" ng-click="showPassword(1)" style="float: right; width: 76px; height:50px;padding-right: 30px;"><img src="common/images/eye2.png" class="float_r mt_25" width="20"></div>
                <div ng-if="newpasstype == 'password'" ng-click="showPassword(1)" style="float: right; width: 76px; height:50px;padding-right: 30px;"><img src="common/images/eye.png" class="float_r mt_25" width="20"></div>
     	    </li>
            <li class="bottom_line" style="border-top: solid 0px #e0e0e0;padding-right: 0px;">
            	<span class="float_l">确认密码</span>
            	<input name="" type="{{conpasstype}}" class="password" style="margin-left:20px;width:50%;" ng-model="upd.conPassword">
        	    <div ng-if="conpasstype == 'text'" ng-click="showPassword(2)" style="float: right; width: 76px; height:50px;padding-right: 30px;"><img src="common/images/eye2.png" class="float_r mt_25" width="20"></div>
                <div ng-if="conpasstype == 'password'" ng-click="showPassword(2)" style="float: right; width: 76px; height:50px;padding-right: 30px;"><img src="common/images/eye.png" class="float_r mt_25" width="20"></div>
            </li>
        </ul>
    </div>
</ion-content>

