<!-- 标题 -->
<div class="bg-light lter b-b wrapper-md">
  <h4 class="m-n font-thin h4">批量导入
  </h4>
</div>

<!-- 内容 -->


<div class="wrapper-md"  ng-controller="memBatImportCtrl">

    <div class="panel-heading"   >
              <form name="form" class="form-horizontal">
                  <!--<h5><strong>温馨提示：</strong></h5>-->
                  <!--<p>1、为提高添加会员效率，可下载规范格式文件，根据指定格式填写编辑后再进行导入；</p>-->
                  <!--<p>2、excel文件中一次上传商品数量最好不要超过1000，excel文件大小最好不要超过500K；</p></p>-->
                  <!--<p>3、碰到“是否启用”之类的字段，填写数字0或者1，0代表“否”，1代表“是”。</p>-->
                  <p>马上下载规范格式文件:<a href="../import/会员信息批量导入模板.xlsx"><img src="common/img/import.jpg" width="100"></a></p>
              </form>
              <!--<div class="form-group">
                    <label class="col-sm-1 control-label" style="width: 100px;"> 上传文件：</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" >
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info btn-addon">本地上传</button>
                    </div>
              </div>
-->
            <div class="form-group">
                <!--<div class="col-xs-10">-->
                   <!-- <label class="col-xs-3 control-label"><span
                            style="color: red;">*</span>上传文件:</label>-->
                <label class="col-sm-1 control-label" style="width: 120px;"> <span
                        style="color: red;">*</span>上传文件：</label>
                    <div class="col-xs-4"  >
                        <input class="form-control" ng-model="membFileName"  readonly/>
                    </div>

                    <div class="col-xs-2  btn btn-default fileUpload">
                        <span>本地上传</span>
                        <input id="fileInputMemBat" type="file" ngf-pattern="'.xlsx'" accept=".xlsx"
                                                 class="upload" style="height: 100%" />
                    </div>
                <!--</div>-->
                </div>


    </div><!-- panel -->

    <div style="margin-left: 45px;margin-top: 30px;"><!--user-power="IFMEMW0110008"-->
        <button class="btn btn-success " ng-click="importFile()"  user-power="WMEM01001002">提交保存</button><!--ui-sref="app.member.memBas"-->
        <button class="btn btn-success " style="display: none;" id="outMembExcelImportErrorMsg" ng-csv="csvData" add-bom="true" lazy-load="true" filename="{{csvFileName}}" field-separator="," >提交保存</button>
        <button class=" btn btn-info btn-addon " ui-sref="app.member.memBas({isBack:true})" style="width: 85px;margin-left: 35px;">返回</button>
    </div>

</div><!-- wrapper-md-->




