<style>


    .row a{margin-right:15px; width: 120px;display: inline-block; color:#333333;}
    .row a:hover{color: #005de6;}
    .row a:active{color: #005de6;}
    /*6E665E*/
    .current{color: #005de6!important; font-weight: bold;}
</style>

<div class="bg-light lter wrapper-md">
    <h4 class="m-n font-thin h4"><span style="color:#000;">会员信息</span>
        <button class="btn btn-success btn-addon" style="float:right;margin:-8px 10px 0 0;"
                ui-sref="app.member.memInsert"  user-power="WMEM01001003"> 新增会员
        </button>
        <button class="btn btn-info btn-addon" style="float:right;margin:-8px 10px 0 0;"
                ui-sref="app.member.memBatImport"  user-power="WMEM01001002"> 批量导入
        </button>
    </h4>
</div>

<!-- 内容 -->
<div ng-controller="MemBasCtrl as demo">


    <div class="panel panel-default">
        <!-- <toaster-container
                toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container> -->
        <div class="panel-heading">
            <accordion close-others="oneAtATime">
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        查询<i class="pull-right fa fa-angle-right"
                             ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
                    </accordion-heading>

                    <form name="form" class="form-horizontal">
                        <!-- 第一行 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">会员编号：</label>

                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="selectMembList.params.membNum">
                            </div>
                            <label class="col-sm-2 control-label">姓名：</label>

                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="selectMembList.params.membNm">
                            </div>

                            <label class="col-sm-2 control-label">联系电话：</label>

                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="selectMembList.params.phone">
                            </div>

                        </div>
                        <!-- 第二行 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">创建人员：</label>

                            <div class="col-sm-2">
                                <input type="text" class="form-control" placeholder="姓名"
                                       ng-model="selectMembList.params.crtdStfNm">
                            </div>

                        </div>
                        <!-- 第三行 -->
                        <div class="form-group">

                            <label class="col-sm-2 control-label">加入时间：</label>

                            <div class="col-sm-3">
                                <div class="input-group w-md" ng-controller="DatepickerDemoCtrl">
                                    <input type="text" class="form-control"
                                           datepicker-popup="yyyy-MM-dd" is-open="opened"
                                           datepicker-options="dateOptions" readonly="readonly"
                                           ng-model="selectMembList.params.startTime"/>
                                    <span class="input-group-btn">
							            <button type="button" class="btn btn-default" ng-click="open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
						            </span>
                                </div>
                            </div>
                            <label class="col-sm-1 control-label"
                                   style="margin-left: 40px;text-align: center;">至</label>

                            <div class="col-sm-3">
                                <div class="input-group w-md" ng-controller="DatepickerDemoCtrl"
                                        >
                                    <input type="text" class="form-control"
                                           datepicker-popup="yyyy-MM-dd" is-open="opened"
                                           datepicker-options="dateOptions" readonly="readonly"
                                           ng-model="selectMembList.params.endTime"/>
                                    <span class="input-group-btn">
							            <button type="button" class="btn btn-default" ng-click="open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
						            </span>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <button class="col-sm-2 btn btn-info btn-addon" style="margin-left: 15px;width: 121px;"
                                    ng-click="searchMemblist()"  user-power="WMEM01001001">搜索
                            </button>
                        </div>

                    </form>

                    <accordion close-others="oneAtATime">
                        <accordion-group is-open="status.checkopen">

                            <accordion-heading>

                                更多筛选条件<i class="text-right pull-right fa fa-angle-right"
                                         ng-class="{'fa-angle-down': status.checkopen, 'fa-angle-right': !status.checkopen}"></i>
                            </accordion-heading>

                            <form name="form" class="form-horizontal">
                                <div class="row">
                                    <strong class="col-sm-2 text-right">来源渠道 :</strong>

                                    <div class="col-sm-10">
                                        <!--<a href="#" style="margin-right:25px;">全部</a>-->
                                        <a ng-class="memChannelStyle[$index]" ng-repeat="channel in allChannel" ng-bind="channel.text" ng-click="searchMemblist(channel.key, 1, $index)"  user-power="WMEM01001001"></a>
                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <strong class="col-sm-2 text-right">会员组别 :</strong>

                                    <div class="col-sm-10">
                                        <!-- <a href="#" style="margin-right:25px; color:#19A9D5;">全部</a>-->
                                        <a ng-class="memGrpStyle[$index]" ng-repeat="membGrp in allMembGrp" ng-bind="membGrp.text | textAbbr :'7'" tooltip="{{membGrp.text}}" ng-click="searchMemblist(membGrp.key, 2, $index)"  user-power="WMEM01001001"></a>

                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <strong class="col-sm-2 text-right">肌肤类型 :</strong>

                                    <div class="col-sm-10">
                                        <!--<a href="#" style="margin-right:25px; color:#19A9D5;">全部</a>
                                        <a href="#" style="margin-right:25px; color:#19A9D5;">混合型偏油</a>-->
                                        <a ng-class="memSkinTypeStyle[$index]" ng-repeat="sType in skinTypes" ng-bind="sType.text" ng-click="searchMemblist(sType.key, 3, $index)"  user-power="WMEM01001001"></a>
                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <strong class="col-sm-2 text-right">肌肤现状 :</strong><!--C025-->

                                    <div class="col-sm-10">
                                        <!--<a href="#" style="margin-right:25px; color:#19A9D5;">全部</a>
                                        <a href="#" style="margin-right:25px; color:#19A9D5;">毛孔粗大</a>  skinType-->
                                        <!--<a href="#" style="margin-right:25px; color:#19A9D5;">{{1 | dicNameFilter:"C025"}}</a>-->
                                        <a ng-class="memSinProbStyle[$index]" ng-repeat="sProb in skinProbs" ng-bind="sProb.text" ng-click="searchMemblist(sProb.key, 4, $index)"  user-power="WMEM01001001"></a>

                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <strong class="col-sm-2 text-right">护肤品喜好 :</strong>

                                    <div class="col-sm-10">
                                        <!--<a href="#" style="margin-right:25px; color:#19A9D5;">全部</a>
                                        <a href="#" style="margin-right:25px; color:#19A9D5;">美白</a>
                                        <a href="#" style="margin-right:25px; color:#19A9D5;">保湿</a>-->
                                        <a ng-class="memSkinDemandStyle[$index]" ng-repeat="sDemand in skinDemands" ng-bind="sDemand.text" ng-click="searchMemblist(sDemand.key, 5, $index)"  user-power="WMEM01001001"></a>
                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <strong class="col-sm-2 text-right">肌肤护理需求 :</strong>

                                    <div class="col-sm-10">
                                        <!-- <a href="#" style="margin-right:25px; color:#19A9D5;">全部</a>
                                         <a href="#" style="margin-right:25px; color:#19A9D5;">祛痘品</a>-->
                                        <a ng-class="memSkinDaDemandStyle[$index]" ng-repeat="sDaDemand in skinDailyDemands" ng-bind="sDaDemand.text" ng-click="searchMemblist(sDaDemand.key, 6, $index)"  user-power="WMEM01001001"></a>
                                    </div>
                                </div>
                                <br/>

                            </form>
                            <!-- 查询结果-->
                        </accordion-group>
                </accordion-group>
            </accordion>
        </div>
        <!-- panel-heading -->
        <script type="text/ng-template" id="headerCheckbox.html">
            <input type="checkbox" ng-model="demo.checkboxes.checked" ng-click="checkAll()" class="select-all"
                   value=""/>
            全选
        </script>
        <!-- 表格 -->
        <div style=" margin:15px;">
            <button class="btn btn-default btn-addon" ng-click="outPutMemb()"  user-power="WMEM01001005">批量导出</button>
            <button class="btn btn-default btn-addon" style="display: none;" id="outMembs" ng-csv="getArray" add-bom="true" lazy-load="true" filename="{{filename}}" field-separator=",">批量导出</button>

            <label class="control-label" style="margin:10px;">共有<input type="text"
                                                                       style="width:30px; text-align:center;  border:none;outline:medium;color: red"
                                                                       ng-model="gydst" readonly="readonly">
                条记录</label>
            <lable ng-if="gydst<1"><span style="margin-left: 20px;">( 没有符合条件的数据 )</span></lable>
            <!--<button class="btn btn-default btn-addon" ng-click="outPutMemb()">批量导出</button>-->
            <!--<button type="button" class="btn btn-default"  ng-click="outPutMemb()"> 批量导出</button>-->

        </div>

        <div class="table-responsive" style="padding-left:15px;padding-right:15px; ">

            <div ng-table="tableParams" id="membTable">

                <table class="table table-bordered table-condensed   table-striped ">

                    <tr ng-repeat="memBas in $data">
                        <td header="'headerCheckbox.html'"
                            style="font-weight: bold; min-width: 90px; text-align: center;  ">
                            <input type="checkbox" ng-model="demo.checkboxes.items[memBas.membNum]"
                                   ng-click="checkItem()"/>
                        </td>
                        <td title="'会员编号'" style="text-align:center;min-width:120px; ">
                            {{memBas.membNum}}
                        </td>
                        <td title="'姓名'" style="text-align:center;min-width:120px; ">
                            {{memBas.membNm}}
                        </td>
                        <td title="'联系电话'" style="text-align:center;min-width:120px; ">
                            {{memBas.phone}}
                        </td>
                        <td title="'来源渠道'" style="text-align:center;min-width:120px; ">
                            {{memBas.provChnl | chnlInfoFilter}}
                        </td>
                        <td title="'会员组别'" style="text-align:center;min-width:120px;">
                            {{memBas.grpId | membGrpFilter}}
                        </td>
                        <td title="'创建人员'" style="text-align:center;min-width:120px;">
                            {{memBas.crtdStfNm}}
                        </td>

                        <td title="'加入时间'" style="text-align:center;min-width:180px;">
                            {{memBas.registTm | date:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td title="'操作'" style="text-align:center;min-width:180px;">
                            <a style="text-decoration:underline;color: #05b5ff;" ui-sref="app.member.memSelect({membNum:memBas.membNum})"  user-power="WMEM01001001">查看</a>
                            <a style="text-decoration:underline;color: #05b5ff;" ui-sref="app.member.memUpdate({membNum:memBas.membNum})"  user-power="WMEM01001004">编辑</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>