<div ng-controller="memBuyRecSupCon">


    <div>
        <script type="text/ng-template" id="memRadioSelect.html">
            <div ng-include="'common/tpl/memRadioSelect.html'"></div>
        </script>
        <script type="text/ng-template" id="gdsMultiSelect.html">
            <div ng-include="'common/tpl/gdsMultiSelect.html'"></div>
        </script>
        <script type="text/ng-template" id="gdsRadioSelect.html">
            <div ng-include="'common/tpl/gdsRadioSelect.html'"></div>
        </script>
        <script type="text/ng-template" id="radiostaff.html">
            <div ng-include="'common/tpl/radiostaff.html'"></div>
        </script>
        <script type="text/ng-template" id="radiostore.html">
            <div ng-include="'common/tpl/radiostore.html'"></div>
        </script>
    </div>


    <!-- 标题信息开始 -->
    <div class="bg-light lter b-b wrapper-md">
        <h4 class="m-n font-thin h4" style="color:#000"> 补录会员购买记录</h4>
    </div>
    <!-- 标题信息结束 -->

    <!-- 内容 -->
    <div class="wrapper-md">
        <ng-form class="bs-example form-horizontal" name="formBuyRec">
            <form name="form" class="form-horizontal">
                <!-- 第一行 -->
                <div ng-controller="ModalDemoCtrl">

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span style="color:red;">*</span>选择会员：</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="memInfo" readonly="readonly"
                                   ng-model="membInfo.membInfo" required>
                            <!--<div form.memInfo.error>-->
                            <!--<span  class="error"> 会员必须输入！</span>-->
                            <!--</div>-->
                            <!--<div ng-messages="form.memInfo.$error" ng-if="(form.memInfo.$dirty && form.memInfo.$invalid)">-->
                            <!--<span ng-message="required" class="error"> 会员必须输入! </span>-->
                            <!--</div>-->
                        </div>
                        <button class="btn m-b-xs w-xs btn-default" ng-click="openMemRadioSelect('lg')">浏览</button>
                    </div>

                </div>
                <!-- 第二行 -->
                <div class="form-group">

                    <label class="col-sm-2 control-label"><span style="color:red;">*</span>购买明细：</label>

                    <button class="col-sm-1 btn btn-sm btn-info" ng-click="openGdsMultiSelec('lg')"
                            style="margin-left: 15px;">添加
                    </button>
                    <!-- ng-click="add()"-->
                </div>


            </form>
            <!-- 表格 -->
            <!--<div class="table-responsive" style="padding-left:10px;padding-right:10px;">-->
            <!--<div style="padding-left:10px;padding-right:10px;overflow-y: visible;">-->

                <!--<div class="table-responsive" style="padding-left:10px;padding-right:10px;" ng-table="tableParams" >-->


                    <!--<table class="table table-bordered table-condensed table-striped table-hover" style="overflow: visible;">-->

                        <!--<tr>-->
                            <!--<td title="'销售门店'" style="text-align:center;min-width:380px;">-->
                                <!--<div class="col-sm-3">-->
                                    <!--<div class="input-group w-md">-->
                                        <!--<input type="text" ng-model="buyRect.buyStrInfo" name="storeNum" class="form-control"-->
                                               <!--readonly="readonly" style="min-width:250px;" required />-->
                                        <!--<span class="input-group-btn">-->
                                            <!--<button type="button" class="btn btn-default" ng-click="openStore($index, 'lg')" style="margin-left: 5px;">浏览</button>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</td>-->
                            <!--<td title="'购买时间'" style="text-align:center;min-width:120px; ">-->
                                <!--<div class="col-sm-3">-->
                                    <!--<div class="input-group w-md" ng-controller="DatepickerDemoCtrl">-->
                                        <!--<input type="text" class="form-control"-->
                                               <!--datepicker-popup="yyyy-MM-dd" ng-model="buyRect.buyTm"-->
                                               <!--ng-init="rzrqks = '2015-01-01'" is-open="opened"-->
                                               <!--datepicker-options="dateOptions" readonly="readonly" required/>-->
                                        <!--<span class="input-group-btn" >-->
                                            <!--<button type="button" class="btn btn-default" ng-click="open($event)" j>-->
                                                <!--<i class="glyphicon glyphicon-calendar" ></i>-->
                                            <!--</button>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</td>-->
                            <!--<td title="'购买商品'" style="text-align:center;min-width:120px; ">-->
                                <!--{{buyRect.buyGdsSpecDtlNm}}-->
                            <!--</td>-->
                            <!--<td title="'市场售价'" style="text-align:center;min-width:120px;">-->
                                <!--{{buyRect.buyGdsCurPc}}-->
                            <!--</td>-->
                            <!--<td title="'数量'" style="text-align:center;min-width:120px; ">-->
                                <!--<input type="text" ng-model="buyRect.gdsQty" name="gdsQty" required class="form-control">-->

                                <!--<div ng-messages="formBuyRec.gdsQty.$error"-->
                                     <!--ng-if="(formBuyRec.gdsQty.$dirty && formBuyRec.gdsQty.$invalid)">-->
                                    <!--<span ng-message="required" class="error"> 数量必须输入! </span>-->
                                <!--</div>-->
                            <!--</td>-->
                            <!--<td title="'实收金额'" style="text-align:center;min-width:280px; ">-->
                                <!--<div>-->
                                    <!--<div class="input-group w-md">-->
                                        <!--<input type="text" ng-model="buyRect.gdsAmt" required name="gdsAmt" class="form-control"-->
                                               <!--style="min-width:250px;"/>-->
                                        <!--<span class="input-group-btn">-->
                                            <!--<i>元</i>-->
                                        <!--</span>-->

                                    <!--</div>-->
                                    <!--<div ng-messages="formBuyRec.gdsAmt.$error"-->
                                         <!--ng-if="(formBuyRec.gdsAmt.$dirty && formBuyRec.gdsAmt.$invalid)">-->
                                        <!--<p ng-message="required" class="error"> 数量必须输入! </p>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;<input type="text" ng-model="buyRect.gdsAmt" required name="gdsAmt" class="form-control"><span>元</span>&ndash;&gt;-->

                                <!--&lt;!&ndash;<div ng-messages="formBuyRec.gdsAmt.$error"&ndash;&gt;-->
                                     <!--&lt;!&ndash;ng-if="(formBuyRec.gdsAmt.$dirty && formBuyRec.gdsAmt.$invalid)">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span ng-message="required" class="error"> 数量必须输入! </span>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</td>-->
                            <!--<td title="'服务人员'" style="text-align:center;min-width:280px;">-->
                                <!--&lt;!&ndash;<input type="text" ng-model="buyRect.stfInfo" name="stfNum" readonly="readonly" disabled="disabled"&ndash;&gt;-->
                                       <!--&lt;!&ndash;required>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button ng-click="openRadioStaff($index, 'lg')" style="margin-left: 5px;">浏览</button>&ndash;&gt;-->
                                <!--<div class="col-sm-3">-->
                                    <!--<div class="input-group w-md">-->
                                        <!--<input type="text" ng-model="buyRect.stfInfo" name="stfNum" readonly="readonly" class="form-control"-->
                                               <!--required>-->
                                        <!--<span class="input-group-btn">-->
                                             <!--<button type="button" class="btn btn-default" ng-click="openRadioStaff($index, 'lg')" style="margin-left: 5px;">浏览</button>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</td>-->
                            <!--<td title="'操作'" style="text-align:center;min-width:120px; font-weight: bold;">-->
                                <!--<a ng-click="del($index)" style=" text-decoration:underline;color: #05b5ff;">删除</a>-->
                            <!--</td>-->

                    <!--</table>-->

                <!--</div>-->
            <!--</div>-->
            <div ng-repeat="buyRect in membBuyDtlRectList">
                <hr/>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="position: relative"><span style="color:red;">*</span>销售门店：</label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control"  required ng-model="buyRect.buyStrInfo" name="storeNum"  readonly="readonly">
                    </div>
                    <button class="btn m-b-xs w-xs btn-default" ng-click="openStore($index, 'lg')">浏览</button>
                    <button class="col-sm-1 btn btn-info  btn-danger" ng-show="$index!=-1"  ng-click="del($index)"
                            style="color:red;float: right;margin-right: 15px;">删除
                    </button>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" ><span style="color:red;">*</span>购买时间：</label>

                    <div class="col-sm-3">
                        <div class="input-group w-md" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control" readonly="readonly"
                                   datepicker-popup="yyyy-MM-dd" ng-model="buyRect.buyTm"
                                   is-open="opened"
                                   datepicker-options="dateOptions" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"></span>规格名称：</label>

                    <div class="col-sm-2">
                        <!--<input type="text" class="form-control" name="buyGdsSpecDtlNm"-->
                               <!--ng-model="buyRect.buyGdsSpecDtlNm">-->
                        <p class="form-control-static" ng-bind="buyRect.buyGdsSpecDtlNm | textAbbr:8" tooltip="{{buyRect.buyGdsSpecDtlNm}}"></p>
                    </div>
                    <label class="col-sm-2 control-label">市场售价：</label>

                    <div class="col-sm-2">
                        <!--<input type="text" class="form-control" name="buyGdsCurPc"-->
                               <!--ng-model="buyRect.buyGdsCurPc" readonly="readonly">-->
                        <p class="form-control-static" ng-bind="buyRect.buyGdsCurPc"></p>
                        <span style="position: absolute;top: 0;right: 0;height: 35px;line-height: 35px;">元</span>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><span style="color:red;">*</span>数量：</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="gdsQty" required  maxlength="5"
                               ng-model="buyRect.gdsQty" ng-pattern="/^([1-9]\d*)$/">
                        <div ng-messages="formBuyRec.gdsQty.$error"
                             ng-if="(formBuyRec.gdsQty.$dirty && formBuyRec.gdsQty.$invalid)">
                            <span ng-message="required" class="error"> 数量必须输入! </span>
                            <span ng-message="pattern" class="error"> 格式不正确!</span>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label"><span style="color:red;">*</span>实收金额：</label>

                    <div class="col-sm-2">
                        <div class="input-group" style="position: relative;">
                            <input type="text" ng-model="buyRect.gdsAmt" required maxlength="10" name="gdsAmt" class="form-control" ng-pattern="/^(0|[1-9]\d*)(\.\d{1,2})?$/"/>
                            <div ng-messages="formBuyRec.gdsAmt.$error"
                                 ng-if="(formBuyRec.gdsAmt.$dirty && formBuyRec.gdsAmt.$invalid)">
                                <p ng-message="required" class="error"> 实收金额必须输入! </p>
                                <span ng-message="pattern" class="error">格式不正确!</span>
                            </div>
                        </div>
                        <span style="position: absolute;top: 0;right: 0;height: 35px;line-height: 35px;">元</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" style="position: relative"><span style="color:red;">*</span>服务人员：</label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="buyRect.stfInfo" name="stfNum" readonly="readonly" required>
                    </div>
                    <button class="btn m-b-xs w-xs btn-default" ng-click="openRadioStaff($index, 'lg')">浏览</button>

                </div>

        </div>
           <!--  <button class="btn btn-success" ui-sref="app.member.memBuyRecSupSucc"
                    ng-disabled="formBuyRec.$invalid" style="margin: 30px 0 0 15px;" ng-click="saveMembBuyDtlRect()"  user-power="WMEM01004001">
                提交保存
            </button> -->
     <div class="form-group">
            <label class="col-sm-2 control-label"></label>    
		    <button class="btn btn-success" ng-disabled="formBuyRec.$invalid" style="margin: 30px 0 0 15px;" 
		    			ng-click="saveMembBuyDtlRect()"  user-power="WMEM01004001">
		                提交保存
		    </button>
     </div>
     
            
       </ng-form>
    </div>
    <!-- wrapper-md-->
</div>