<!-- 标题 -->
<div class="bg-light lter b-b wrapper-md">
    <h4 class="m-n font-thin h4" style="color:#000;">查看

    </h4>

</div>

<div class="wrapper-md" ng-controller="memRevisitRecSelectCtrl">

    <!--1.回访人信息-->
    <accordion close-others="oneAtATime" >

        <accordion-group is-open="status.oneopen" >

            <accordion-heading>
                <div class="font-bold">1.回访人信息 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.oneopen, 'fa-angle-right': !status.oneopen}"></i></div>
            </accordion-heading>
            <form class="bs-example form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 control-label">回访人：</label>
                    <div class="col-lg-2">
                        <p class="form-control-static"><span ng-bind="memRevRecInfo.stfNm"></span></p>
                    </div>
                    <label class="col-lg-2 control-label">职位：</label>

                    <div class="col-lg-2">
                        <p class="form-control-static"><span ng-bind="memRevRecInfo.posNm"></span></p>
                    </div>

                    <label class="col-lg-2 control-label">联系电话：</label>

                    <div class="col-lg-2">
                        <p class="form-control-static"><span ng-bind="memRevRecInfo.stfPhone"></span></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">直属主管：</label>
                    <div class="col-lg-2">
                        <p class="form-control-static"><span ng-bind="memRevRecInfo.supvrStfNm"></span></p>
                    </div>
                </div>

            </form>
        </accordion-group>
    </accordion>

    <!--2.受访会员信息-->
    <accordion close-others="oneAtATime">
        <accordion-group is-open="status.twoopen" >

            <accordion-heading>
                <div class="font-bold">2.受访会员信息<i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.twoopen, 'fa-angle-right': !status.twoopen}"></i></div>
            </accordion-heading>
            <form class="bs-example form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 control-label">会员编号：</label>

                    <div class="col-lg-2">
                        <p class="form-control-static"><span ng-bind="memRevRecInfo.membNum"></span></p>
                    </div>
                    <label class="col-lg-2 control-label">姓名：</label>

                    <div class="col-lg-2">
                        <p class="form-control-static"><span ng-bind="memRevRecInfo.membNm"></span></p>
                    </div>

                    <label class="col-lg-2 control-label">联系电话：</label>

                    <div class="col-lg-2">
                        <p class="form-control-static"><span ng-bind="memRevRecInfo.phone"></span></p>
                    </div>

                </div>


            </form>
        </accordion-group>
    </accordion>

    <!--3.回访记录内容-->
    <accordion close-others="oneAtATime" >

        <accordion-group is-open="status.threeopen" >

            <accordion-heading>
                <div class="font-bold"> 3.回访记录内容<i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.threeopen, 'fa-angle-right': !status.threeopen}"></i></div>
            </accordion-heading>

            <form class="bs-example form-horizontal" style="float:left;min-width:700px;padding-left: 15px;">

                <div class="form-group">
                    <p><span>是否关联回访任务：</span><span ng-bind="memRevRecInfo.isRelRevisitTsk | dicNameFilter:'C002'"></span></p>
                </div>
                <div class="form-group">
                    <p ><span>回访时间：</span><span ng-bind="memRevRecInfo.revisitTm | date:'yyyy-MM-dd HH:mm:ss'"></span></p>
                </div>

                <div class="form-group">
                    <p >回访内容：</p>
                </div>
                <div class="form-group">
                    <p><span ng-bind="memRevRecInfo.revisitCont"></span></p>
                    <div ng-repeat="revImg in memRevRecInfo.revisitImg">

                        <div style="width: 300px;height: 300px;border: solid 1px #ccc;border-radius:5px;margin:0 10px 10px 0;text-align: center; display: table-cell; vertical-align:middle; ">
                            <img ng-src="{{revImg | imgpath}}" style="max-width: 300px;vertical-align:middle;" alt=""/>
                        </div>

                        <br/>


                    </div>

                    <div ng-repeat="revVoice in memRevRecInfo.revisitVoice">

                        <audio controls style="">
                            <!--<source ng-src="" type="audio/ogg">
                            <source ng-src="" type="audio/mpeg">-->
                            <source ng-src="{{sce(revVoice)}}" type="audio/ogg">
                            <source ng-src="{{sce(revVoice)}}" type="audio/mpeg">
                        </audio>

                    </div>

                    <!--<li style="list-style: none;" ng-if="reply.fbkVoice && reply.fbkVoice != null && reply.fbkVoice != ''">
                        <audio controls style="">
                            &lt;!&ndash;<source ng-src="" type="audio/ogg">
                            <source ng-src="" type="audio/mpeg">&ndash;&gt;
                            <source ng-src="{{sce(reply.fbkVoice)}}" type="audio/ogg">
                            <source ng-src="{{sce(reply.fbkVoice)}}" type="audio/mpeg">
                        </audio>
                        &lt;!&ndash; <audio controls style="">
                             <source src="" type="audio/ogg">
                             <source src="" type="audio/mpeg">
                         </audio>&ndash;&gt;
                    </li>-->

                </div>


                <!--<div class="form-group">-->
                <div class="box clearfix" style=" width: 600px;line-height: 35px;margin-left: -15px;">
                    <p style="position:relative;border: 1px solid #ccc; width: 110px;background:#E4E4E4;cursor:pointer;margin-bottom:-1px; text-align: center;" ng-click="openRep(memRevRecInfo.shrinkFlg,$index)" ng-if="memRevRecInfo.shrinkFlg==false" ng-model="memRevRecInfo.shrinkFlg">回复&nbsp;
                        (<span ng-bind="memRevRecInfo.replyList.length"></span>)&nbsp;
                        <i class="fa fa-sort-asc" aria-hidden="true" style="top: 13px;position: absolute;"></i>
                    </p>
                    <p style="position:relative;border: 1px solid #ccc; width: 110px;background:#E4E4E4;cursor:pointer;margin-bottom:-1px; text-align: center;" ng-click="openRep(memRevRecInfo.shrinkFlg,$index)" ng-if="memRevRecInfo.shrinkFlg==true" ng-model="memRevRecInfo.shrinkFlg">收起回复&nbsp;
                        <i class="fa fa-sort-desc" aria-hidden="true" style="bottom: 13px;position: absolute;"></i>
                    </p>
                    <div style="position:relative;background: #E4E4E4;border: 1px solid #ccc;" ng-show="memRevRecInfo.shrinkFlg==true && memRevRecInfo.replyList.length > 0">
                        <ul style="margin-bottom: 0px;"  ng-model="memRevRecInfo.shrinkFlg" ng-repeat="reply in memRevRecInfo.replyList">
                            <li style="list-style: none;" ><span ng-bind="reply.replyUsrNm"></span> 回复 <span style="color: #A3B5CD;"><span ng-bind="reply.beRepliedUsrNm"></span>：</span><span style="word-wrap:break-word;word-break:break-all;" ng-bind="reply.fbkCont"></span>&nbsp;&nbsp;<span style="color: #A3B5CD;" ng-bind="reply.fbkTm | date:'yyyy-MM-dd HH:mm:ss'"></span></li>
                            <li style="list-style: none;" ng-if="reply.fbkVoice && reply.fbkVoice != null && reply.fbkVoice != ''">
                                <audio controls style="">
                                    <!--<source ng-src="" type="audio/ogg">
                                    <source ng-src="" type="audio/mpeg">-->
                                    <source ng-src="{{sce(reply.fbkVoice)}}" type="audio/ogg">
                                    <source ng-src="{{sce(reply.fbkVoice)}}" type="audio/mpeg">
                                </audio>
                                <!-- <audio controls style="">
                                     <source src="" type="audio/ogg">
                                     <source src="" type="audio/mpeg">
                                 </audio>-->
                            </li>
                        </ul>
                    </div>


                </div>


                <script type="text/javascript">
                    /*;(function(){
                        $(function(){
                            $('.box ul').hide();

                            $('.box p').click(function(event) {
                                $('.box ul').slideToggle(300);

                                if($(this).html()=='回复'){
                                    $(this).css('background','#E4E4E4 url(../common/img/up.gif)  90px no-repeat')
                                    $(this).html('收起回复')

                                }else{
                                    $(this).css('background','#E4E4E4 url(../common/img/down.gif) 80px  no-repeat')
                                    $(this).html('回复')

                                }
                            });
                        });
                    })();*/
                </script >

            </form>
        </accordion-group>
    </accordion>

    <div style="margin-top: 30px;"class="form-group">
        <button class="btn btn-info    btn-addon col-lg-1 "  ui-sref="app.member.memRevisitRec({isBack:true})" style="width: 85px;">返回</button>
    </div>

</div>