<div ng-if="editStatus == 0">
    <ion-header-bar align-title="center" class="header">
    	<a ng-click="goToUpPage()" class="angle_left" style="left:15px"><img src="common/images/back_btn.png" width="18"></a>
        <h1 style="font-size:1.4rem;">编辑</h1>
        <a href="" class="head_right3" ng-click="subSub()">
            <div class="btn_line">提交</div>
        </a>
        <a href="" class="head_right" ng-click="subEdit()" >
            <div class="btn_line">存为草稿</div>
        </a>
    </ion-header-bar>
    <ion-content class="has-header ">
    <!-- appAttendReportInfoUpdate.html -->
        <div class="wrap">
	        <ul class="listvrew clearfix mb_15">
	            <li>
	                <span class="w140">考勤时间</span>
	                <span class="f_10 leaveApplInfoItem">{{AttendDatas.phaStartTm}} ～ {{AttendDatas.phaEndTm}}</span>
	            </li>
	            <li>
	                <span class="w140">是否全勤</span>
	                <span class="color05 f_10 leaveApplInfoItem">{{AttendDatas.fullAttnDaysNm}}</span>
	            </li>
	            <li>
	                <span class="w140">应出勤天数</span>
	                <span class="f_10 leaveApplInfoItem">{{AttendDatas.supAttdDays}}天</span>
	            </li>
	            <li>
	                <span class="w140">应发工资天数</span>
	                <span class="f_10 leaveApplInfoItem">{{AttendDatas.supPayDays}}天</span>
	            </li>
	            <li>
	                <span class="w140">请假天数</span>
	                <span class="f_10 leaveApplInfoItem">{{AttendDatas.persLeaveDays}}天</span>
	            </li>
	            <li>
	                <span class="w140">旷工天数</span>
	                <span class="f_10 leaveApplInfoItem">{{AttendDatas.absentDays}}天</span>
	            </li>
            </ul>
        </div>
        <div class="index_work_bt">考勤明细</div>
        <ion-list>
            <ion-item ng-repeat="var in kqmxDatas"  ng-click="goEditStatus(1,$index,var.attendSitu)" ng-if="var.attendDt != ''">
                    <span class="w140 leaveApplInfoItem">{{var.attendDt}}</span>
                    <span class="f_10 leaveApplInfoItem">{{var.attendSituNm}}</span>
                    <span class="float_r line_height" style="margin-right: 16px"><img src="common/images/you_btn.png" style="position: absolute;top: 20px;right: 16px;"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</div>
<div ng-if="editStatus == 1">
    <ion-header-bar align-title="center" class="header">
    	<a ng-click="goUpToSetBox()" class="angle_left" style="left:15px"><img src="common/images/back_btn.png" width="18"></a>
        <h1 style="font-size:1.4rem;">出勤情况</h1>
    </ion-header-bar>
    <ion-content class="has-header">
    <!-- appAttendReportInfoUpdate.html -->
        <div class="wrap">
	        <ion-list>
	           	<ion-radio name="sex"  ng-repeat="sta in appattendSitus" ng-click="upCQQK(sta.key,sta.text)" ng-value="sta.key" ng-model="entryInfo.sex">{{sta.text}}</ion-radio>
	        </ion-list>
        </div>
    </ion-content>
</div>