<ion-header-bar align-title="center" class="header">
	<a ui-sref="schedulingForApproval" class="angle_left" style="left: 15px;"><img src="common/images/back_btn.png" width="18"></a>
	<h1 style="font-size:1.4rem">批量审批</h1>
</ion-header-bar>
<ion-content class="has-header" style="bottom: 62px;">
<!-- baShiftMngAppList.html -->
	<ion-refresher pulling-text="下拉刷新页面" on-refresh="doRefresh()"></ion-refresher>
	<div class="wrap">
		<div ng-repeat="dataInfo in baShiftMngAppList">
			<div class="xiaoxizhongxin_bj1" ng-show="baShiftMngAppList.length > 0">
				<ion-list>
						<div class="index_work_bt">{{dataInfo.phaStartTm}}~{{dataInfo.phaEndTm}}</div>
						<ion-item class="bottom_line" style="position: relative;" ng-repeat="baShiftMngAppInfo in dataInfo.list">
							<div class="xuanzhong" style="left: -15px; top: 65px;">
								<ion-checkbox ng-click="isCheck()" ng-model="baShiftMngAppInfo.isCheck" style="bottom: 20px;position: absolute;border-color: #fff;padding-left: 20px;"></ion-checkbox>
							</div>
							<a ui-sref="baShiftMngApplInfo({applNum:baShiftMngAppInfo.schNum,flag:false})">
								<div class="xiaoxi_img2"style="margin-left: 25px !important;">{{baShiftMngAppInfo.bySchStf}}</div>
								<div class="xiaoxi_line" style="width: 72%;">
									<div class="xiaoxizhongxin_text2">
										<h2 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:150px" >{{baShiftMngAppInfo.strNum}}</h2>
										<p><span ng-if="baShiftMngAppInfo.sbmtTm != null">{{baShiftMngAppInfo.sbmtTm}}&nbsp;申请</span></p> 
									</div>
									<img src="common/images/you_btn.png" style="top: 31px;right: 16px;float: right; margin-top: 16px;">
									<span class="float_r line_height50" style="margin-right: 15px;">
										{{baShiftMngAppInfo.apprRslt}}
									</span>
								</div>
							</a>
						</ion-item>
				</ion-list> 
			</div>
		</div>
		<div class="wushuju" my-nodata-show="baShiftMngAppList.length == 0 && !moredata">
			<img src="common/images/bear.gif" >
			<p>没有符合条件的数据</p>
		</div>
	</div>
	<ion-infinite-scroll ng-if="moredata" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
</ion-content>
<ion-footer-bar align-title="center">
	<div class="xiaoxi_quanxuan2">
		<div class="xuanzhong" style="top: 10px;left: -10px;padding: 5px 0;">
			<ion-checkbox ng-model="checkStatus" style="border-color: #f8f8f8;background-color: #f8f8f8; padding: 5px 0px 10px 40px;" ng-click="checkAll()"><p ng-if="checkStatus" style="color: #b2b2b2;">全选</p><p ng-if="!checkStatus">全选</p></ion-checkbox>
		</div>
		<a class="btn_repoit2 btn_ww mt_10 mr10" style="margin-bottom: 10px;float: right;" ng-click="baShiftMngApp(1)">通过</a>
		<a class="btn_repoit1 btn_ww mt_10 mr10" style="margin-bottom: 10px;float: right;" ng-click="baShiftMngApp(0)">不通过</a>
		
	</div>
</ion-footer-bar>