<ion-header-bar align-title="center" class="header"> 
	<a ui-sref="stfChangeIndex" class="angle_left" style="left: 15px;"><img src="common/images/back_btn.png" width="18"></a>
	<h1 style="font-size:1.4rem">BA借调记录</h1>
	<a class="head_right" ui-sref="stfTempTransInsert"  user-power="MSTF01004002">
    	<div class="head_right_box">
            <img src="common/images/gengxin.png" width="22" height="22">
            <p>新增借调</p>
    	</div>
    </a>
</ion-header-bar>
<ion-content class="has-header ">
<!-- stfTempTransSelect.html -->
    <ion-refresher pulling-text="下拉刷新页面" on-refresh="doRefresh()"></ion-refresher>
	<div class="wrap">
	<div class="xiaoxizhongxin_bj1" ng-show="stfList.length > 0">
	   <ion-list user-power="MSTF01004001">
        	<ion-item class="bottom_line" ng-repeat="stfItem in stfList" style="padding-top: 0px;padding-bottom: 0px;margin-left:0px;padding:0px;margin: 0px 0px;">
           	  <a href="" ui-sref="stfTempTransDetails({applNum:stfItem.applNum})" user-power="MSTF01004001">
               	<div class="xiaoxi_img2" style="margin-left: 15px;"><div class="stftempReason">{{stfItem.reason}}</div></div>
                <div class="xiaoxi_line" style="width: 80%;">
                	<div class="xiaoxizhongxin_text2" >
                		<h2 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:200px">{{stfItem.stfNmJD|characters:10}}</h2>
                    	<p>{{stfItem.applTm}} {{stfItem.stfNm}} 记录</p> 
                	</div>
               		<img src="common/images/you_btn.png" style="top: 31px;right: 15px;float: right; margin-top: 15px;margin-right: 15px;">
                </div>
                </a>
           </ion-item>
       </ion-list> 
    </div>
    <div class="wushuju" my-nodata-show="stfList.length == 0 && !moredata">
            <img src="common/images/bear.gif" >
            <p>没有符合条件的数据</p>
        </div>
</div>
<ion-infinite-scroll ng-if="moredata" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
</ion-content>
