<ion-header-bar align-title="center" class=" bar bar-royal" 
                style="background:#5338fe;">
    <a  href=""  ui-sref="login" ng-if="!isNext"  class="angle_left" style="z-index:1000;left:15px">
        <img src="common/images/back_btn.png" width="18">
    </a>
    <a href=""  ng-click="goBack()" ng-if="isNext"  class="angle_left" style="z-index:1000;left:15px">
        <img src="common/images/back_btn.png" width="18">
    </a>
    <h3 class="title" ng-if="!isNext" >忘记密码</h3>
    <h3 class="title" ng-if="isNext">重置密码</h3>
    <a href="" class="head_right"  ng-click="next()" ng-if="!isNext && isInput"><div class="btn_line">下一步</div></a>
    <a href="" class="head_right"  ng-click="save()" ng-if="isNext"><div class="btn_line">保存</div></a>
</ion-header-bar>
<ion-content scroll="false"style="top: 45px;">
<!-- forgetPassword.html -->
    <div class="wrap" >
        <ul class="input_ul"  ng-if="!isNext">
    	    <li>
    	         <input name="" type="text"  class="input_srk" style="padding-top: 5px;padding-bottom: 5px;line-height: normal;" placeholder="请输入手机号码" ng-model="upd.mobile" ng-readonly="isSend" maxlength="11">
    	         <a href="" class="btn_fsyzm" ng-if="!isSend" ng-click="SendSms()">发送验证码</a>
    	         <a href="" class="btn_fsyzm2" ng-if="isSend">等待{{showtime}}秒</a>
    	    </li>
            <li ng-if="isInput">
                <input name="" type="text" class="input_srk" style="padding-top: 5px;padding-bottom: 5px;line-height: normal;" placeholder="请输入验证码" ng-model="upd.code">
            </li>
        </ul>
        <ul class="input_ul" ng-if="isNext">
    	    <li>
        	    <input name=""  type="{{newpasstype}}" class="input_dsrk" style="padding-top: 5px;padding-bottom: 5px;line-height: normal;" placeholder="请输入新密码" ng-model="upd.newPassword">
        	    <div class="input_dsrk_eye" ng-if="newpasstype == 'password'"  ng-click="showPassword(1)"><img src="common/images/eye.png" width="20"></div>
                <div class="input_dsrk_eye" ng-if="newpasstype == 'text'"  ng-click="showPassword(1)"><img src="common/images/eye2.png" width="20"></div>
     	    </li>
            <li>
            	<input name="" type="{{conpasstype}}" class="input_dsrk" style="padding-top: 5px;padding-bottom: 5px;line-height: normal;" placeholder="确认密码" ng-model="upd.conPassword">
        	    <div class="input_dsrk_eye" ng-if="conpasstype == 'password'"  ng-click="showPassword(2)"><img src="common/images/eye.png" width="20"></div>
                <div class="input_dsrk_eye" ng-if="conpasstype == 'text'"  ng-click="showPassword(2)"><img src="common/images/eye2.png" width="20"></div>
            </li>
        </ul>
    </div>
</ion-content>
